<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HYDROPLANT | Dashboard</title>
    <link href="/image/fern.png" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />

    <!-- Bulma -->

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css"
    />

    <!-- Chart JS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    <!-- APEX Chart -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  </head>
  <body>
    <div class="grid">
      <header class="page-header content">
        <!-- <h3>Header</h3> -->
        <nav class="menu-bar">
          <div class="group">
            <a class="item title" href="/">🌱 HYDROPLANT</a>
          </div>
          <div class="group">
            <a href="/" class="item">Home</a>
            <a href="/control" class="item">Control</a>
            <a href="/chart" class="item">Charts</a>
            <a href="/market" class="item">Market</a>
            <a href="#" class="item">About</a>
          </div>
        </nav>
      </header>

      <footer class="page-footer content">
        <!-- <h3>Footer</h3> -->
      </footer>

      <div class="page-leftbar content">
        <!-- <h3>Sidebar</h3> -->
      </div>

      <div class="about-main content">
        <div class="chart_height card_chart" id="graph_height"></div>
        <div class="chart_length card_chart" id="graph_length"></div>
        <div class="chart_number card_chart" id="graph_number"></div>

        
        
      </div>


      
    </div>

    
  </body>
  <script type="text/javascript">
  var graph_options_height = {
    chart: {
      height: 400,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "smooth",
    },
    series: [
      {
        name: "Env Control System",
        data: [
          {x:"10/02/21",y:5}, {x:"12/02/21",y:5}, {x:"14/02/21",y:5}, {x:"17/02/21",y:6},
          {x:"19/02/21",y:7}, {x:"22/02/21",y:8}, {x:"24/02/21",y:9},{x:"26/02/21",y:9.5}, 
          {x:"01/03/21",y:10.5}, {x:"05/03/21",y:12},
        ],
      },

      {
        name: "Normal System",
        data: [
          {x:"10/02/21",y:5}, {x:"12/02/21",y:5}, {x:"14/02/21",y:5}, {x:"17/02/21",y:6},
          {x:"19/02/21",y:6}, {x:"22/02/21",y:7}, {x:"24/02/21",y:8},{x:"26/02/21",y:8},
           {x:"01/03/21",y:8.75}, {x:"05/03/21",y:9.5},
        ],
      },

    ],
    title: {
      text: "Plants Height (cm)",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 9,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };

  var graph_options_length = {
    chart: {
      height: 400,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "smooth",
    },
    series: [
      {
        name: "Env Control System",
        data: [
          {x:"10/02/21",y:5}, {x:"12/02/21",y:5}, {x:"14/02/21",y:5.5}, {x:"17/02/21",y:6.5},
          {x:"19/02/21",y:6.75}, {x:"22/02/21",y:7.85}, {x:"24/02/21",y:8.45},{x:"26/02/21",y:10.5}, 
          {x:"01/03/21",y:11}, {x:"05/03/21",y:12},
        ],
      },

      {
        name: "Normal System",
        data: [
          {x:"10/02/21",y:5}, {x:"12/02/21",y:5}, {x:"14/02/21",y:5}, {x:"17/02/21",y:6.5},
          {x:"19/02/21",y:6.5}, {x:"22/02/21",y:7.5}, {x:"24/02/21",y:7.75},{x:"26/02/21",y:9},
           {x:"01/03/21",y:9}, {x:"05/03/21",y:9.5},
        ],
      },
    ],
    title: {
      text: "Leaf length (cm)",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 9,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };


  var graph_options_num_leaves = {
    chart: {
      height: 400,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "smooth",
    },
    series: [
      {
        name: "Env Control System",
        data: [
          {x:"10/02/21",y:6}, {x:"12/02/21",y:7}, {x:"14/02/21",y:7}, {x:"17/02/21",y:8},
          {x:"19/02/21",y:9}, {x:"22/02/21",y:10}, {x:"24/02/21",y:11},{x:"26/02/21",y:11}, 
          {x:"01/03/21",y:12}, {x:"05/03/21",y:12},
        ],
      },

      {
        name: "Normal System",
        data: [
          {x:"10/02/21",y:6}, {x:"12/02/21",y:6}, {x:"14/02/21",y:7}, {x:"17/02/21",y:7},
          {x:"19/02/21",y:7}, {x:"22/02/21",y:8}, {x:"24/02/21",y:8},{x:"26/02/21",y:9},
           {x:"01/03/21",y:9}, {x:"05/03/21",y:10},
        ],
      },
    ],
    title: {
      text: "Number of leaves",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 9,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };
  

  
  
  
  
  
  
  
  var graph_height = new ApexCharts(
    document.querySelector("#graph_height"),
    graph_options_height
  );
  graph_height.render();

  var graph_length = new ApexCharts(
    document.querySelector("#graph_length"),
    graph_options_length
  );
  graph_length.render();

  var graph_number = new ApexCharts(
    document.querySelector("#graph_number"),
    graph_options_num_leaves
  );
  graph_number.render();

  
  </script>


  <!-- TODO Update Process Charts Time to harvest every 24 Hrs-->
  <!-- TODO Responsive Web Mobile -->
  <!-- TODO Timeline phase planting -->
</html>
