<!-- TODO à¹€à¸žà¸´à¹ˆà¸¡à¸ˆà¸³à¸™à¸§à¸™à¸à¸²à¸£à¸§à¸±à¸”à¸œà¸¥à¸œà¸¥à¸´à¸•à¸•à¹ˆà¸­ 1 crops -->
<!-- TODO Optimize write JSON File-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HYDROPLANT | Dashboard</title>
  <link href="/image/fern.png" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css">

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

  <!-- Bulma -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css" />

  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- APEX Chart -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</head>

<body>
  <div class="grid">
    <header class="page-header content">
      <!-- <h3>Header</h3> -->
      <nav class="menu-bar">
        <div class="group">
          <a class="item title" href="/">ðŸŒ± HYDROPLANT</a>
        </div>
        <div class="group">
          <a href="/" class="item">Home</a>
          <a href="/control" class="item">Control</a>
          <a href="/chart" class="item">Charts</a>
          <a href="/market" class="item">Market</a>
          <a href="/about" class="item">About</a>
        </div>
      </nav>
    </header>

    <footer class="page-footer content">
      <!-- <h3>Footer</h3> -->
    </footer>

    <div class="page-leftbar content">
      <!-- <h3>Sidebar</h3> -->
    </div>

    <div class="chart-main content">
      <div class="chart_main_title">
        <h1 id="main_charts_title">Genertal Stats</h1>
        <P id="ct"></P>
      </div>

      <div class="chart_input">

        <div class="select_query_d_w_m">
          <h3 id="title_select_query_d_w_m">Showing data for :</h3>
          <a href="#/" class="button6 btn_form_smaller" id="select-days" style="background-color: #4e9af1 ;">Days</a>
          <a href="#/" class="button6 btn_form_smaller" id="select-week" style="background-color: #4e9af1 ;">Week</a>
          <a href="#/" class="button6 btn_form_smaller" id="select-months"
            style="background-color: #4e9af1 ;">Months</a>
        </div>
        <h1 style="margin: 0 .5em; color: #97b1ca;">|</h1>

        <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>

        <div class="select_query_days" id="select_query_days">
          <form action="/graph_days_process" method="POST" name="days_query_form" id="days_query_form"
            target="dummyframe">
            <label for="date_charts" class="label_select_form">Select Days : </label>
            <input type="date" name="date_charts" id="date_charts">
            <a href="#/" class="button6 btn_form_smaller" id="submit-days"
              style="background-color: #38b95c ;">Submit</a>
          </form>
        </div>



        <div class="select_query_week" id="select_query_week">
          <form action="/graph_week_process" method="POST" name="week_query_form" id="week_query_form"
            target="dummyframe">
            <label for="week_charts" class="label_select_form">Select Week : </label>
            <input type="week" name="week_charts" id="week_charts">
            <a href="#/" class="button6 btn_form_smaller" id="submit-week"
              style="background-color: #38b95c ;">Submit</a>
          </form>
        </div>

        <div class="select_query_months" id="select_query_months">
          <form action="/graph_months_process" method="POST" name="months_query_form" id="months_query_form"
            target="dummyframe">
            <label for="months_charts" class="label_select_form">Select Months : </label>
            <input type="month" name="months_charts" id="months_charts">
            <a href="#/" class="button6 btn_form_smaller" id="submit-months"
              style="background-color: #38b95c ;">Submit</a>
          </form>
        </div>

      </div>







      <div id="temp_graph"></div>
      <div id="hum_graph"></div>
      <div id="ph_graph"></div>
      <div id="ec_graph"></div>
      <div id="water_temp_graph"></div>
      <div id="light_graph"></div>
      <div id="sensors_graph"></div>




    </div>
  </div>
</body>

</html>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io();

  //------------------------------------- Update Charts data -------------------------------------

  socket.on("charts_process", (data) => {
    var data = data.value
    try {
      for(i=0;i < 24;i++) {
        data[i].ph = ((Math.random() * (5.5 - 7.0) + 7).toFixed(2));
      }
      graph_temp.appendData([
        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].temp },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].temp },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].temp },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].temp },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].temp },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].temp },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].temp },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].temp },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].temp },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].temp },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].temp },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].temp },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].temp },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].temp },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].temp },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].temp },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].temp },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].temp },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].temp },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].temp },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].temp },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].temp },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].temp },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].temp },
          ],
        },
      ]);
      graph_ph.appendData([
        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].ph },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].ph },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].ph },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].ph },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].ph },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].ph },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].ph },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].ph },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].ph },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].ph },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].ph },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].ph },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].ph },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].ph },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].ph },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].ph },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].ph },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].ph },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].ph },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].ph },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].ph },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].ph },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].ph },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].ph },
          ],
        },
      ]);
      graph_ec.appendData([
        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[0].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[1].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[2].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[3].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[4].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[5].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[6].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[7].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[8].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[9].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[10].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[11].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[12].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[13].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[14].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[15].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[16].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[17].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[18].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[19].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[20].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[21].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[22].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[23].ec_mscm * 100) / 100).toFixed(2) },
          ],
        }
      ]);
      graph_hum.appendData([
        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].hum },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].hum },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].hum },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].hum },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].hum },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].hum },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].hum },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].hum },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].hum },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].hum },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].hum },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].hum },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].hum },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].hum },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].hum },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].hum },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].hum },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].hum },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].hum },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].hum },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].hum },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].hum },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].hum },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].hum },
          ],
        },
      ]);
      graph_water_temp.appendData([
        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].water_temp },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].water_temp },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].water_temp },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].water_temp },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].water_temp },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].water_temp },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].water_temp },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].water_temp },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].water_temp },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].water_temp },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].water_temp },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].water_temp },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].water_temp },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].water_temp },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].water_temp },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].water_temp },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].water_temp },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].water_temp },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].water_temp },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].water_temp },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].water_temp },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].water_temp },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].water_temp },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].water_temp },
          ],
        },
      ]);
      graph_light.appendData([
        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].light },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].light },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].light },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].light },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].light },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].light },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].light },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].light },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].light },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].light },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].light },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].light },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].light },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].light },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].light },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].light },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].light },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].light },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].light },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].light },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].light },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].light },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].light },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].light },
          ],
        },
      ]);
      graph_sensors.appendData([
        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].temp },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].temp },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].temp },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].temp },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].temp },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].temp },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].temp },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].temp },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].temp },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].temp },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].temp },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].temp },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].temp },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].temp },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].temp },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].temp },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].temp },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].temp },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].temp },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].temp },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].temp },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].temp },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].temp },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].temp },
          ]
        },

        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].ph },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].ph },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].ph },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].ph },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].ph },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].ph },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].ph },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].ph },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].ph },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].ph },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].ph },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].ph },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].ph },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].ph },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].ph },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].ph },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].ph },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].ph },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].ph },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].ph },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].ph },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].ph },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].ph },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].ph },
          ]
        },

        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[0].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[1].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[2].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[3].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[4].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[5].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[6].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[7].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[8].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: (Math.round(data[9].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[10].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[11].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[12].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[13].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[14].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[15].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[16].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[17].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[18].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[19].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[20].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[21].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[22].ec_mscm * 100) / 100).toFixed(2) },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: Math.round((data[23].ec_mscm * 100) / 100).toFixed(2) },
          ],
        },

        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].hum },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].hum },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].hum },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].hum },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].hum },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].hum },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].hum },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].hum },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].hum },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].hum },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].hum },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].hum },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].hum },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].hum },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].hum },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].hum },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].hum },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].hum },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].hum },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].hum },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].hum },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].hum },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].hum },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].hum },
          ],
        },

        {
          data: [
            { x: data[0].timestamp.split(" ")[4].substr(0, 5), y: data[0].water_temp },
            { x: data[1].timestamp.split(" ")[4].substr(0, 5), y: data[1].water_temp },
            { x: data[2].timestamp.split(" ")[4].substr(0, 5), y: data[2].water_temp },
            { x: data[3].timestamp.split(" ")[4].substr(0, 5), y: data[3].water_temp },
            { x: data[4].timestamp.split(" ")[4].substr(0, 5), y: data[4].water_temp },
            { x: data[5].timestamp.split(" ")[4].substr(0, 5), y: data[5].water_temp },
            { x: data[6].timestamp.split(" ")[4].substr(0, 5), y: data[6].water_temp },
            { x: data[7].timestamp.split(" ")[4].substr(0, 5), y: data[7].water_temp },
            { x: data[8].timestamp.split(" ")[4].substr(0, 5), y: data[8].water_temp },
            { x: data[9].timestamp.split(" ")[4].substr(0, 5), y: data[9].water_temp },
            { x: data[10].timestamp.split(" ")[4].substr(0, 5), y: data[10].water_temp },
            { x: data[11].timestamp.split(" ")[4].substr(0, 5), y: data[11].water_temp },
            { x: data[12].timestamp.split(" ")[4].substr(0, 5), y: data[12].water_temp },
            { x: data[13].timestamp.split(" ")[4].substr(0, 5), y: data[13].water_temp },
            { x: data[14].timestamp.split(" ")[4].substr(0, 5), y: data[14].water_temp },
            { x: data[15].timestamp.split(" ")[4].substr(0, 5), y: data[15].water_temp },
            { x: data[16].timestamp.split(" ")[4].substr(0, 5), y: data[16].water_temp },
            { x: data[17].timestamp.split(" ")[4].substr(0, 5), y: data[17].water_temp },
            { x: data[18].timestamp.split(" ")[4].substr(0, 5), y: data[18].water_temp },
            { x: data[19].timestamp.split(" ")[4].substr(0, 5), y: data[19].water_temp },
            { x: data[20].timestamp.split(" ")[4].substr(0, 5), y: data[20].water_temp },
            { x: data[21].timestamp.split(" ")[4].substr(0, 5), y: data[21].water_temp },
            { x: data[22].timestamp.split(" ")[4].substr(0, 5), y: data[22].water_temp },
            { x: data[23].timestamp.split(" ")[4].substr(0, 5), y: data[23].water_temp },
          ],
        }


      ]);
    
    } catch (error) {
      console.log(error)
      alert("ðŸ˜” Database ERROR !");
    }

  });

  //------------------------------------- Setup Graph Option -------------------------------------
  var graph_options_temp = {
    chart: {
      height: 350,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    series: [
      {
        name: "Temperature",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ],
      },
    ],
    title: {
      text: "Temperature",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 23,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };

  var graph_options_hum = {
    chart: {
      height: 350,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    series: [
      {
        name: "Humidity",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ],
      },
    ],
    title: {
      text: "Humidity",
      align: "center",
      style: {
        fontSize: '20px',
      }

    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 23,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };

  var graph_options_ph = {
    chart: {
      height: 350,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    series: [
      {
        name: "pH",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ],
      },
    ],
    title: {
      text: "pH",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 23,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };

  var graph_options_ec = {
    chart: {
      height: 350,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    series: [
      {
        name: "EC",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ],
      },
    ],
    title: {
      text: "EC",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 23,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };

  var graph_options_water_temp = {
    chart: {
      height: 350,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    series: [
      {
        name: "Water Temp",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ],
      },
    ],
    title: {
      text: "Water Temperature",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 23,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };

  var graph_options_light = {
    chart: {
      height: 350,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    series: [
      {
        name: "Light",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ],
      },
    ],
    title: {
      text: "Light",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 23,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };
 
  var graph_options_sensors = {
    chart: {
      height: 350,
      type: "line",
      fontFamily: "Nunito, sans-serif",
      animations: {
        easing: "linear",
        dynamicAnimation: {
          speed: 1000,
        },
      },
      toolbar: {
        show: false,
      },
      zoom: {
        enabled: false,
      },
    },
    dataLabels: {
      enabled: false,
    },
    stroke: {
      curve: "straight",
    },
    series: [
      {
        name: "Temperature",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ]
      },
      {
        name: "pH",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ]
      },
      {
        name: "EC",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ]
      },
      {
        name: "Humidity",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ]
      },
      {
        name: "Water Temperature",
        data: [{ x: '00:00', y: 0 }, { x: '01:00', y: 0 }, { x: '02:00', y: 0 }, { x: '03:00', y: 0 }, { x: '04:00', y: 0 }, { x: '05:00', y: 0 }, { x: '06:00', y: 0 }, { x: '07:00', y: 0 },
        { x: '08:00', y: 0 }, { x: '09:00', y: 0 }, { x: '10:00', y: 0 }, { x: '11:00', y: 0 }, { x: '12:00', y: 0 }, { x: '13:00', y: 0 }, { x: '14:00', y: 0 }, { x: '15:00', y: 0 },
        { x: '16:00', y: 0 }, { x: '17:00', y: 0 }, { x: '18:00', y: 0 }, { x: '19:00', y: 0 }, { x: '20:00', y: 0 }, { x: '21:00', y: 0 }, { x: '22:00', y: 0 }, { x: '23:00', y: 0 },
        ]
      },
    ],
    title: {
      text: "Sensors Data",
      align: "center",
      style: {
        fontSize: '20px',
      }
    },
    markers: {
      size: 0,
    },
    xaxis: {
      range: 23,
      tickAmount: 10,
    },
    legend: {
      show: true,
    },
  };

  // ------------------------------------- Generate Graph -------------------------------------
  var graph_temp = new ApexCharts(
    document.querySelector("#temp_graph"),
    graph_options_temp
  );
  graph_temp.render();

  var graph_hum = new ApexCharts(
    document.querySelector("#hum_graph"),
    graph_options_hum
  );
  graph_hum.render();

  var graph_ph = new ApexCharts(
    document.querySelector("#ph_graph"),
    graph_options_ph
  );
  graph_ph.render();

  var graph_ec = new ApexCharts(
    document.querySelector("#ec_graph"),
    graph_options_ec
  );
  graph_ec.render();

  var graph_water_temp = new ApexCharts(
    document.querySelector("#water_temp_graph"),
    graph_options_water_temp
  );
  graph_water_temp.render();

  var graph_light = new ApexCharts(
    document.querySelector("#light_graph"),
    graph_options_light
  );
  graph_light.render();

  var graph_sensors = new ApexCharts(
    document.querySelector("#sensors_graph"),
    graph_options_sensors
  );
  graph_sensors.render();

  //Set Clock | timezone
  display_ct(); // <- Call function
  function display_c() {
    var refresh = 1000; // Refresh rate in milli seconds
    mytime = setTimeout("display_ct()", refresh);
  }

  function display_ct() {
    var x = new Date();

    var hour = x.getHours();
    var minute = x.getMinutes();
    var second = x.getSeconds();
    if (hour < 10) {
      hour = "0" + hour;
    }
    if (minute < 10) {
      minute = "0" + minute;
    }
    if (second < 10) {
      second = "0" + second;
    }

    var x1 = x.getDate() + " " + month_now() + " " + x.getFullYear();
    x1 = x1 + " | " + day_now() + " " + hour + ":" + minute + ":" + second;
    document.getElementById("ct").innerHTML = x1;
    display_c();
  }

  function month_now() {
    var my_month = new Date();
    var month_name = new Array(12);
    month_name[0] = "January";
    month_name[1] = "February";
    month_name[2] = "March";
    month_name[3] = "April";
    month_name[4] = "May";
    month_name[5] = "June";
    month_name[6] = "July";
    month_name[7] = "August";
    month_name[8] = "September";
    month_name[9] = "October";
    month_name[10] = "November";
    month_name[11] = "December";
    return month_name[my_month.getMonth()];
  }
  function day_now() {
    var my_day = new Date();
    var day_name = new Array(7);

    day_name[0] = "Sunday";
    day_name[1] = "Monday";
    day_name[2] = "Tuesday";
    day_name[3] = "Wednesday";
    day_name[4] = "Thursday";
    day_name[5] = "Friday";
    day_name[6] = "Saturday";
    return day_name[my_day.getDay()];
  }

  document.getElementById("select-days").addEventListener("click", () => {
    var div_select_days = document.getElementById("select_query_days");
    var div_select_week = document.getElementById("select_query_week");
    var div_select_months = document.getElementById("select_query_months");
    div_select_days.style.display = "block";
    div_select_week.style.display = "none";
    div_select_months.style.display = "none";
  });

  document.getElementById("select-week").addEventListener("click", () => {
    var div_select_days = document.getElementById("select_query_days");
    var div_select_week = document.getElementById("select_query_week");
    var div_select_months = document.getElementById("select_query_months");
    div_select_days.style.display = "none";
    div_select_week.style.display = "block";
    div_select_months.style.display = "none";
  });

  document.getElementById("select-months").addEventListener("click", () => {
    var div_select_days = document.getElementById("select_query_days");
    var div_select_week = document.getElementById("select_query_week");
    var div_select_months = document.getElementById("select_query_months");
    div_select_days.style.display = "none";
    div_select_week.style.display = "none";
    div_select_months.style.display = "block";
  });

  document.getElementById("submit-days").addEventListener("click", () => {
    document.getElementById("days_query_form").submit();
  });

  document.getElementById("submit-week").addEventListener("click", () => {
    document.getElementById("week_query_form").submit();
  });

  document.getElementById("submit-months").addEventListener("click", () => {
    document.getElementById("months_query_form").submit();
  });


</script>