<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HYDROPLANT | Dashboard</title>
  <link href="/image/fern.png" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

  <!-- Bulma -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css" />

  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- APEX Chart -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
  <div class="grid">
    <header class="page-header content">
      <!-- <h3>Header</h3> -->
      <nav class="menu-bar">
        <div class="group">
          <a class="item title" href="/">ðŸŒ± HYDROPLANT</a>
        </div>
        <div class="group">
          <a href="/" class="item">Home</a>
          <a href="/control" class="item">Control</a>
          <a href="/chart" class="item">Charts</a>
          <a href="/market" class="item">Market</a>
          <a href="/about" class="item">About</a>
        </div>
      </nav>
    </header>

    <footer class="page-footer content">
      <!-- <h3>Footer</h3> -->
    </footer>

    <div class="page-leftbar content">
      <!-- <h3>Sidebar</h3> -->
    </div>

    <div class="control-main content">
      <div class="light_title">
        <h2 class="txt_main_color">Light Control</h2>
      </div>

      <div class="air_pump_title">
        <h2 class="txt_main_color">Air Pump Control</h2>
      </div>

      <div class="ph_title">
        <h2 class="txt_main_color">pH Control</h2>
      </div>

      <div class="ec_title">
        <h2 class="txt_main_color">EC Control</h2>
      </div>

      <div class="sw_light ctrl-card">

        <h4 class="ctrl-name">Light</h4>
        <div class="field">
          <input id="btn_light" type="checkbox" name="btn_light" class="switch is-thin is-info" checked="checked"
            onclick="state_sw()" />
          <label for="btn_light"></label>
        </div>
      </div>

      <div class="sw_nutrient ctrl-card">

        <h4 class="ctrl-name">Nutrient Solution</h4>
        <a href="#/" class="button6" id="nutrient-btn">ADD</a>
        <a class="button6_disable" id="nutrient-btn-disable" href="#/">ADD</a>
      </div>

      <div class="sw_water ctrl-card">

        <h4 class="ctrl-name">Water</h4>
        <a class="button6" id="water-btn" href="#/">ADD</a>
        <a class="button6_disable" id="water-btn-disable" href="#/">ADD</a>
      </div>

      <div class="sw_ph_up ctrl-card">

        <h4 class="ctrl-name">pH Up</h4>
        <a href="#/" class="button6" id="phup-btn">ADD</a>
        <a class="button6_disable" id="phup-btn-disable" href="#/">ADD</a>
      </div>

      <div class="sw_ph_down ctrl-card">

        <h4 class="ctrl-name">pH Down</h4>
        <a href="#/" class="button6" id="phdown-btn">ADD</a>
        <a class="button6_disable" id="phdown-btn-disable" href="#/">ADD</a>
      </div>

      <div class="sw_air_pump ctrl-card">

        <h4 class="ctrl-name">Air Pump</h4>
        <div class="field">
          <input id="btn_air_pump" type="checkbox" name="btn_air_pump" class="switch is-thin is-info" checked="checked"
            onclick="state_air_pump()">
          <label for="btn_air_pump"></label>
        </div>

      </div>

      <div class="air_pump_timer ctrl-card">

        <h4 class="ctrl-name" style="margin: 1em 0;">Air Pump Timer</h4>
        <div class="field">
          <input id="btn_airpump_timer_on_off" type="checkbox" name="btn_airpump_timer_on_off"
            class="switch is-thin is-info" checked="checked" onclick="state_airpump_timer()">
          <label for="btn_airpump_timer_on_off"></label>
        </div>

        <div class="display_timer">

          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_start_timer_1"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="airpump_dat_1" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_end_timer_1"></h1>

          <h1 class="txt_light_color display_light_timer_data" id="airpump_split_1" style="margin: auto .2em;"> | </h1>

          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_start_timer_2"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="airpump_dat_2" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_end_timer_2"></h1>

          <h1 class="txt_light_color display_light_timer_data" id="airpump_split_2" style="margin: auto .2em;"> | </h1>

          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_start_timer_3"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="airpump_dat_3" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_end_timer_3"></h1>

          <h1 class="txt_light_color display_light_timer_data" id="airpump_split_3" style="margin: auto .2em;"> | </h1>

          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_start_timer_4"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="airpump_dat_4" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_airpump_end_timer_4"></h1>

        </div>

        <a href="#/" class="button6" id="btn-airpump-timer">Set time</a>

        <div id="airpump_timer_popup">
          <div id="main_airpump_timer_popup">

            <form id="airpump_timer_form" action="/airpump_timer" method="POST" name="airpump_timer" target="dummyframe"
              style="padding: 20px 50px;">
              <h1 class="title_form_light">SETUP AIR PUMP TIMER</h1>

              <div class="timer_airpump" id="timer_airpump_no1">
                <h4 class="timer_number">Timer #1</h4>
                <input class="timer_airpump_space" type="time" id="airpump_start_1" name="airpump_start_time_1">
                <h4 class="timer_number">-</h4>
                <input class="timer_airpump_space" type="time" id="airpump_end_1" name="airpump_end_time_1">
                <a href="#/" class="button6 btn_add_smaller" id="add_airpump_timer_1">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_airpump_timer_1">-</a>
              </div>

              <div class="timer_airpump" id="timer_airpump_no2">
                <h4 class="timer_number">Timer #2</h4>
                <input class="timer_airpump_space" type="time" id="airpump_start_2" name="airpump_start_time_2">
                <h4 class="timer_number">-</h4>
                <input class="timer_airpump_space" type="time" id="airpump_end_2" name="airpump_end_time_2">
                <a href="#/" class="button6 btn_add_smaller" id="add_airpump_timer_2">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_airpump_timer_2">-</a>
              </div>

              <div class="timer_airpump" id="timer_airpump_no3">
                <h4 class="timer_number">Timer #3</h4>
                <input class="timer_airpump_space" type="time" id="airpump_start_3" name="airpump_start_time_3">
                <h4 class="timer_number">-</h4>
                <input class="timer_airpump_space" type="time" id="airpump_end_3" name="airpump_end_time_3">
                <a href="#/" class="button6 btn_add_smaller" id="add_airpump_timer_3">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_airpump_timer_3">-</a>
              </div>

              <div class="timer_airpump" id="timer_airpump_no4">
                <h4 class="timer_number">Timer #4</h4>
                <input class="timer_airpump_space" type="time" id="airpump_start_4" name="airpump_start_time_4">
                <h4 class="timer_number">-</h4>
                <input class="timer_airpump_space" type="time" id="airpump_end_4" name="airpump_end_time_4">
                <a href="#/" class="button6 btn_add_smaller" id="add_airpump_timer_4">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_airpump_timer_4">-</a>

              </div>
              <div class="btn_form_submit_close">
                <a href="#/" class="button6 btn_form_smaller" id="submit-airpump-timer-popup"
                  style="background-color: #38b95c ;">Submit</a>
                <a href="#/" class="button6 btn_form_smaller" id="close-airpump-timer-popup"
                  style="background-color:  #ef476f;">Close</a>
              </div>
              <input type="submit">
            </form>


          </div>
        </div>




      </div>

      <iframe name="dummyframe" id="dummyframe" style="display: none"></iframe>



      <div class="light_timer ctrl-card">
        <h4 class="ctrl-name" style="margin: 1em 0;">Light Timer</h4>
        <div class="field" id="div_sw_light_timer_debug">
          <input id="btn_light_timer_on_off" type="checkbox" name="btn_light_timer_on_off"
            class="switch is-thin is-info" checked="checked" onclick="state_light_timer()">
          <label for="btn_light_timer_on_off"></label>
        </div>
        <div class="display_timer">

          <h1 class="txt_main_color display_light_timer_data" id="display_light_start_timer_1"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="light_dat_1" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_light_end_timer_1"></h1>

          <h1 class="txt_light_color display_light_timer_data" id="light_split_1" style="margin: auto .2em;"> | </h1>

          <h1 class="txt_main_color display_light_timer_data" id="display_light_start_timer_2"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="light_dat_2" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_light_end_timer_2"></h1>

          <h1 class="txt_light_color display_light_timer_data" id="light_split_2" style="margin: auto .2em;"> | </h1>

          <h1 class="txt_main_color display_light_timer_data" id="display_light_start_timer_3"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="light_dat_3" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_light_end_timer_3"></h1>

          <h1 class="txt_light_color display_light_timer_data" id="light_split_3" style="margin: auto .2em;"> | </h1>

          <h1 class="txt_main_color display_light_timer_data" id="display_light_start_timer_4"></h1>
          <h1 class="txt_main_color display_light_timer_data" id="light_dat_4" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_light_timer_data" id="display_light_end_timer_4"></h1>

        </div>

        <a href="#/" class="button6" id="btn-light-timer">Set time</a>

        <div id="light_timer_popup">
          <div id="main_light_timer_popup">
            <form id="light_timer_form" action="/light_timer" method="POST" name="light_timer" target="dummyframe"
              style="padding: 20px 50px;">
              <h1 class="title_form_light">SETUP LIGHT TIMER</h1>

              <div class="timer_light" id="timer_light_no1">
                <h4 class="timer_number">Timer #1</h4>
                <input class="timer_light_space" type="time" id="light_start_1" name="light_start_time_1">
                <h4 class="timer_number">-</h4>
                <input class="timer_light_space" type="time" id="light_end_1" name="light_end_time_1">
                <a href="#/" class="button6 btn_add_smaller" id="add_light_timer_1">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_light_timer_1">-</a>
              </div>

              <div class="timer_light" id="timer_light_no2">
                <h4 class="timer_number">Timer #2</h4>
                <input class="timer_light_space" type="time" id="light_start_2" name="light_start_time_2">
                <h4 class="timer_number">-</h4>
                <input class="timer_light_space" type="time" id="light_end_2" name="light_end_time_2">
                <a href="#/" class="button6 btn_add_smaller" id="add_light_timer_2">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_light_timer_2">-</a>
              </div>

              <div class="timer_light" id="timer_light_no3">
                <h4 class="timer_number">Timer #3</h4>
                <input class="timer_light_space" type="time" id="light_start_3" name="light_start_time_3">
                <h4 class="timer_number">-</h4>
                <input class="timer_light_space" type="time" id="light_end_3" name="light_end_time_3">
                <a href="#/" class="button6 btn_add_smaller" id="add_light_timer_3">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_light_timer_3">-</a>
              </div>

              <div class="timer_light" id="timer_light_no4">
                <h4 class="timer_number">Timer #4</h4>
                <input class="timer_light_space" type="time" id="light_start_4" name="light_start_time_4">
                <h4 class="timer_number">-</h4>
                <input class="timer_light_space" type="time" id="light_end_4" name="light_end_time_4">
                <a href="#/" class="button6 btn_add_smaller" id="add_light_timer_4">+</a>
                <a href="#/" class="button6 btn_remove_smaller" id="remove_light_timer_4">-</a>

              </div>
              <div class="btn_form_submit_close">
                <a href="#/" class="button6 btn_form_smaller" id="submit-light-timer-popup"
                  style="background-color: #38b95c ;">Submit</a>
                <a href="#/" class="button6 btn_form_smaller" id="close-light-timer-popup"
                  style="background-color:  #ef476f;">Close</a>
              </div>

            </form>


          </div>
        </div>


      </div>

      <div class="ph_auto ctrl-card">

        <h4 class="ctrl-name">pH Automation</h4>
        <div class="field">
          <input id="btn_ph_auto" type="checkbox" name="btn_ph_auto" class="switch is-thin is-info" checked="checked"
            onclick="state_ph_auto()">
          <label for="btn_ph_auto"></label>
        </div>

        <div class="display_ph_auto">
          <h1 class="txt_main_color display_ph_auto_data" id="ph_auto_start_range"></h1>
          <h1 class="txt_main_color display_ph_auto_data" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_ph_auto_data" id="ph_auto_end_range"></h1>
        </div>

        <a href="#/" class="button6" id="btn-ph-auto">Set PH</a>
      </div>

      <div id="ph_auto_popup">
        <div id="main_ph_auto_popup">
          <form id="ph_auto_form" action="/ph_auto" method="POST" name="ph_auto" target="dummyframe">
            <h1 class="title_form_ph_auto">SET PH RANGE</h1>
            <div class="select_menu">
              <h3 style="margin: 0 .5em;">PH :</h3>

              <select name="ph_start_decimal_select" id="ph_start_decimal_select" class="input_box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
              </select>
              <select name="ph_start_dot_select" id="ph_start_dot_select" class="input_box">
                <option value=".0">.0</option>
                <option value=".1">.1</option>
                <option value=".2">.2</option>
                <option value=".3">.3</option>
                <option value=".4">.4</option>
                <option value=".5">.5</option>
                <option value=".6">.6</option>
                <option value=".7">.7</option>
                <option value=".8">.8</option>
                <option value=".9">.9</option>
              </select>

              <h3 style="margin: 0 .2em;"> - </h3>

              <select name="ph_end_decimal_select" id="ph_end_decimal_select" class="input_box">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
              </select>
              <select name="ph_end_dot_select" id="ph_end_dot_select" class="input_box">
                <option value=".0">.0</option>
                <option value=".1">.1</option>
                <option value=".2">.2</option>
                <option value=".3">.3</option>
                <option value=".4">.4</option>
                <option value=".5">.5</option>
                <option value=".6">.6</option>
                <option value=".7">.7</option>
                <option value=".8">.8</option>
                <option value=".9">.9</option>
              </select>


            </div>

            <div class="btn_form_submit_close">
              <a href="#/" class="button6 btn_form_smaller" id="submit-ph-auto-popup"
                style="background-color: #38b95c ;">Submit</a>
              <a href="#/" class="button6 btn_form_smaller" id="close-ph-auto-popup"
                style="background-color:  #ef476f;">Close</a>
            </div>
            </form> 
        </div>
      </div>

      <div class="ec_auto ctrl-card">

        <h4 class="ctrl-name">EC Automation</h4>
        <div class="field">
          <input id="btn_ec_auto" type="checkbox" name="btn_ec_auto" class="switch is-thin is-info" checked="checked"
            onclick="state_ec_auto()">
          <label for="btn_ec_auto"></label>
        </div>

        <div class="display_ec_auto">
          <h1 class="txt_main_color display_ec_auto_data" id ="ec_auto_start_range"></h1>
          <h1 class="txt_main_color display_ec_auto_data" style="margin: auto .2em;"> - </h1>
          <h1 class="txt_main_color display_ec_auto_data" id="ec_auto_end_range"></h1>
        </div>
        <h4 style="color: #97b1ca; margin:0 0 1em 0; font-size: .8em;" >(mS/cm)</h4>


        <a href="#/" class="button6" id="btn-ec-auto">Set EC</a>
      </div>

      <div id="ec_auto_popup">
        <div id="main_ec_auto_popup">
          <form id="ec_auto_form" action="/ec_auto" method="POST" name="ec_auto" target="dummyframe">
            <h1 class="title_form_ec_auto">SET EC RANGE</h1>
            
            <div class="select_menu">
              <h3 style="margin: 0 .5em;">EC :</h3>

              <select name="ec_start_decimal_select" id="ec_start_decimal_select" class="input_box">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>

              </select>
              <select name="ec_start_dot_select" id="ec_start_dot_select" class="input_box">
                <option value=".0">.0</option>
                <option value=".1">.1</option>
                <option value=".2">.2</option>
                <option value=".3">.3</option>
                <option value=".4">.4</option>
                <option value=".5">.5</option>
                <option value=".6">.6</option>
                <option value=".7">.7</option>
                <option value=".8">.8</option>
                <option value=".9">.9</option>
              </select>

              <h3 style="margin: 0 .2em;"> - </h3>

              <select name="ec_end_decimal_select" id="ec_end_decimal_select" class="input_box">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>

              </select>
              <select name="ec_end_dot_select" id="ec_end_dot_select" class="input_box">
                <option value=".0">.0</option>
                <option value=".1">.1</option>
                <option value=".2">.2</option>
                <option value=".3">.3</option>
                <option value=".4">.4</option>
                <option value=".5">.5</option>
                <option value=".6">.6</option>
                <option value=".7">.7</option>
                <option value=".8">.8</option>
                <option value=".9">.9</option>
              </select>
              <h4 style="color: #97b1ca; margin: .3em 0 0 .3em; font-size: .8em;" >(mS/cm)</h4>



            </div>

            <div class="btn_form_submit_close">
              <a href="#/" class="button6 btn_form_smaller" id="submit-ec-auto-popup"
                style="background-color: #38b95c ;">Submit</a>
              <a href="#/" class="button6 btn_form_smaller" id="close-ec-auto-popup"
                style="background-color:  #ef476f;">Close</a>
            </div>
            </form>
        </div>


      </div>




    </div>
  </div>


  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript">


    // Socket.io
    var socket = io();
    var status_water = "NULL";
    var status_fertilizer = "NULL"
    var fertilizer_delay_counter = 0;
    var water_delay_counter = 0;


    // Socket io FOR light timer data
    socket.on("display_light_timer", (data1, data2, data3, data4, data5, data6, data7, data8) => {
      var value_start_timer_1 = data1.light_start_time_1;
      var value_end_timer_1 = data2.light_end_time_1;
      var value_start_timer_2 = data3.light_start_time_2;
      var value_end_timer_2 = data4.light_end_time_2;
      var value_start_timer_3 = data5.light_start_time_3;
      var value_end_timer_3 = data6.light_end_time_3;
      var value_start_timer_4 = data7.light_start_time_4;
      var value_end_timer_4 = data8.light_end_time_4;

      // Display Timer Light Data
      if (value_start_timer_2 === "") {
        document.getElementById("light_split_1").style.display = "none";
        document.getElementById("light_dat_2").style.display = "none";
      }
      else {
        document.getElementById("light_split_1").style.display = "block";
        document.getElementById("light_dat_2").style.display = "block";
      }

      if (value_start_timer_3 === "") {
        document.getElementById("light_split_2").style.display = "none";
        document.getElementById("light_dat_3").style.display = "none";
      }
      else {
        document.getElementById("light_split_2").style.display = "block";
        document.getElementById("light_dat_3").style.display = "block";
      }

      if (value_start_timer_4 === "") {
        document.getElementById("light_split_3").style.display = "none";
        document.getElementById("light_dat_4").style.display = "none";
      }
      else {
        document.getElementById("light_split_3").style.display = "block";
        document.getElementById("light_dat_4").style.display = "block";
      }
      document.getElementById("display_light_start_timer_1").innerHTML = value_start_timer_1;
      document.getElementById("display_light_end_timer_1").innerHTML = value_end_timer_1;
      document.getElementById("display_light_start_timer_2").innerHTML = value_start_timer_2;
      document.getElementById("display_light_end_timer_2").innerHTML = value_end_timer_2;
      document.getElementById("display_light_start_timer_3").innerHTML = value_start_timer_3;
      document.getElementById("display_light_end_timer_3").innerHTML = value_end_timer_3;
      document.getElementById("display_light_start_timer_4").innerHTML = value_start_timer_4;
      document.getElementById("display_light_end_timer_4").innerHTML = value_end_timer_4;

    });

    // Socket io FOR Air Pump timer data
    socket.on("display_airpump_timer", (data1, data2, data3, data4, data5, data6, data7, data8) => {
      var value_start_timer_1 = data1.airpump_start_time_1;
      var value_end_timer_1 = data2.airpump_end_time_1;
      var value_start_timer_2 = data3.airpump_start_time_2;
      var value_end_timer_2 = data4.airpump_end_time_2;
      var value_start_timer_3 = data5.airpump_start_time_3;
      var value_end_timer_3 = data6.airpump_end_time_3;
      var value_start_timer_4 = data7.airpump_start_time_4;
      var value_end_timer_4 = data8.airpump_end_time_4;

      // Display Timer Air Pump Data
      if (value_start_timer_2 === "") {
        document.getElementById("airpump_split_1").style.display = "none";
        document.getElementById("airpump_dat_2").style.display = "none";
      }
      else {
        document.getElementById("airpump_split_1").style.display = "block";
        document.getElementById("airpump_dat_2").style.display = "block";
      }

      if (value_start_timer_3 === "") {
        document.getElementById("airpump_split_2").style.display = "none";
        document.getElementById("airpump_dat_3").style.display = "none";
      }
      else {
        document.getElementById("airpump_split_2").style.display = "block";
        document.getElementById("airpump_dat_3").style.display = "block";
      }

      if (value_start_timer_4 === "") {
        document.getElementById("airpump_split_3").style.display = "none";
        document.getElementById("airpump_dat_4").style.display = "none";
      }
      else {
        document.getElementById("airpump_split_3").style.display = "block";
        document.getElementById("airpump_dat_4").style.display = "block";
      }
      document.getElementById("display_airpump_start_timer_1").innerHTML = value_start_timer_1;
      document.getElementById("display_airpump_end_timer_1").innerHTML = value_end_timer_1;
      document.getElementById("display_airpump_start_timer_2").innerHTML = value_start_timer_2;
      document.getElementById("display_airpump_end_timer_2").innerHTML = value_end_timer_2;
      document.getElementById("display_airpump_start_timer_3").innerHTML = value_start_timer_3;
      document.getElementById("display_airpump_end_timer_3").innerHTML = value_end_timer_3;
      document.getElementById("display_airpump_start_timer_4").innerHTML = value_start_timer_4;
      document.getElementById("display_airpump_end_timer_4").innerHTML = value_end_timer_4;
    });

    socket.on("display_ph_auto", (data1, data2) => {
      var ph_start_range = data1.ph_start_range;
      var ph_end_range = data2.ph_end_range;
      document.getElementById("ph_auto_start_range").innerHTML = ph_start_range;
      document.getElementById("ph_auto_end_range").innerHTML = ph_end_range;

    });

    socket.on("display_ec_auto", (data1, data2) => {
      var ec_start_range = data1.ec_start_range;
      var ec_end_range = data2.ec_end_range;
      document.getElementById("ec_auto_start_range").innerHTML = ec_start_range;
      document.getElementById("ec_auto_end_range").innerHTML = ec_end_range;

    });
    // Sync Switch

    socket.on("all_ctrl_sw_data", (data1, data2, data3, data4, data5, data6) => {
      var light_manual_sw_status = data1.light_manual_sw_status;
      var light_timer_sw_status = data2.light_timer_sw_status;
      var airpump_manual_sw_status = data3.airpump_manual_sw_status;
      var airpump_timer_sw_status = data4.airpump_timer_sw_status;
      var ph_auto_status = data5.auto_ph_status;
      var ec_auto_status = data6.auto_ec_status;
      document.getElementById("btn_light").checked = light_manual_sw_status;
      document.getElementById("btn_light_timer_on_off").checked = light_timer_sw_status;
      document.getElementById("btn_air_pump").checked = airpump_manual_sw_status;
      document.getElementById("btn_airpump_timer_on_off").checked = airpump_timer_sw_status;
      document.getElementById("btn_ph_auto").checked = ph_auto_status;
      document.getElementById("btn_ec_auto").checked = ec_auto_status;
    });


    // ----------------------- Switch light Box -----------------------
    function state_sw() {
      var state_light_manual = document.getElementById("btn_light").checked;
      document.getElementById("btn_light").checked = state_light_manual;
      socket.emit("state_light_manual", state_light_manual);
    }

    // ----------------------- Switch Light Timer -----------------------
    var count_num_light_timer = 1;
    function state_light_timer() {
      var state_light_timer = document.getElementById("btn_light_timer_on_off").checked;
      document.getElementById("btn_light_timer_on_off").checked = state_light_timer;
      socket.emit("state_light_timer", state_light_timer);
      socket.emit("mqtt_light_timer", state_light_timer);
    }

    // ----------------------- Switch Air Pump -----------------------
    function state_air_pump() {
      var state_airpump_manual = document.getElementById("btn_air_pump").checked;
      document.getElementById("btn_air_pump").checked = state_airpump_manual;
      socket.emit("state_airpump_manual", state_airpump_manual);
    }

    // ----------------------- Switch Air Pump Timer -----------------------
    var count_num_airpump_timer = 1;
    function state_airpump_timer() {
      var state_airpump_timer = document.getElementById("btn_airpump_timer_on_off").checked;
      document.getElementById("btn_airpump_timer_on_off").checked = state_airpump_timer;
      socket.emit("state_airpump_timer", state_airpump_timer);
      socket.emit("mqtt_airpump_timer", state_airpump_timer);
    }


    // ----------------------- Switch pH automation -----------------------
    function state_ph_auto() {
      var state_ph_auto = document.getElementById("btn_ph_auto").checked;
      document.getElementById("btn_ph_auto").checked = state_ph_auto;
      console.log(state_ph_auto);
      socket.emit("state_ph_auto", state_ph_auto);
      // socket.emit("mqtt_pH_auto", state_ph_auto);
    }

    // ----------------------- Switch EC automation -----------------------
    function state_ec_auto() {
      var state_ec_auto = document.getElementById("btn_ec_auto").checked;
      document.getElementById("btn_ec_auto").checked = state_ec_auto;
      console.log(state_ec_auto);
      socket.emit("state_ec_auto", state_ec_auto);
      // socket.emit("mqtt_pH_auto", state_ph_auto);
    }






    // -------------------------- Fretilizer pump 5s. --------------------------
    // EMIT DON't Reload page !
    document.getElementById("nutrient-btn").addEventListener("click", () => {
      socket.emit("nutrient_pump", true);
      status_fertilizer = true;
      fertilizer_delay_counter = 0;

      var fertilizer_btn = document.getElementById("nutrient-btn");
      var fertilizer_btn_disable = document.getElementById("nutrient-btn-disable")

      fertilizer_btn.style.display = "none";
      fertilizer_btn_disable.style.display = "block";


      var fertilizer_delay = setInterval(start_fertilizer_delay, 1000);

      function stop_fertilizer_delay() {
        clearInterval(fertilizer_delay);
      }

      function start_fertilizer_delay() {
        fertilizer_delay_counter++;
        if (fertilizer_delay_counter == 5) {
          socket.emit("nutrient_pump", false);
          fertilizer_delay_counter = 0;
          status_fertilizer = false;
          stop_fertilizer_delay();
          fertilizer_btn.style.display = "block";
          fertilizer_btn_disable.style.display = "none";
        }
      }
    });


    // -------------------------- water pump 5s. --------------------------
    // EMIT DON't Reload page !
    document.getElementById("water-btn").addEventListener("click", () => {
      socket.emit("water_pump", true);
      status_water = true;
      water_delay_counter = 0;

      var water_btn = document.getElementById("water-btn");
      var water_btn_disable = document.getElementById("water-btn-disable")

      water_btn.style.display = "none";
      water_btn_disable.style.display = "block";


      var water_delay = setInterval(start_water_delay, 1000);

      function stop_water_delay() {
        clearInterval(water_delay);
      }

      function start_water_delay() {
        water_delay_counter++;
        if (water_delay_counter == 5) {
          socket.emit("water_pump", false);
          water_delay_counter = 0;
          status_water = false;
          stop_water_delay();
          water_btn.style.display = "block";
          water_btn_disable.style.display = "none";
        }
      }
    });

    // -------------------------- Light Timer Popup --------------------------
    document.getElementById("btn-light-timer").addEventListener("click", () => {
      var light_timer_popup = document.getElementById("light_timer_popup");
      light_timer_popup.style.display = "block";
      document.getElementById("timer_light_no2").style.display = "none";
      document.getElementById("timer_light_no3").style.display = "none";
      document.getElementById("timer_light_no4").style.display = "none";
      document.forms["light_timer"]["light_start_time_1"].value = "";
      document.forms["light_timer"]["light_end_time_1"].value = "";
      document.forms["light_timer"]["light_start_time_2"].value = "";
      document.forms["light_timer"]["light_end_time_2"].value = "";
      document.forms["light_timer"]["light_start_time_3"].value = "";
      document.forms["light_timer"]["light_end_time_3"].value = "";
      document.forms["light_timer"]["light_start_time_4"].value = "";
      document.forms["light_timer"]["light_end_time_4"].value = "";
      document.getElementById("div_sw_light_timer_debug").style.zIndex = "-1";
      document.getElementById("btn-light-timer").style.zIndex = "-1";
      light_timer_popup.style.zIndex = "2";
    });

    // Close button Light Timer
    document.getElementById("close-light-timer-popup").addEventListener("click", () => {
      var light_timer_popup = document.getElementById("light_timer_popup");
      document.getElementById("div_sw_light_timer_debug").style.zIndex = "1";
      document.getElementById("btn-light-timer").style.zIndex = "1";
      light_timer_popup.style.display = "none";
      light_timer_popup.style.zIndex = "1";
      count_num_light_timer = 1;
    });

    // Submit Button Light Timer
    document.getElementById("submit-light-timer-popup").addEventListener("click", () => {
      // MQTT Publish
      socket.emit("mqtt_light_timer", "NULL");

      // Check Timer NULL value 
      var value_light_start_timer_1 = document.forms["light_timer"]["light_start_time_1"].value;
      var value_light_end_timer_1 = document.forms["light_timer"]["light_end_time_1"].value;
      var value_light_start_timer_2 = document.forms["light_timer"]["light_start_time_2"].value;
      var value_light_end_timer_2 = document.forms["light_timer"]["light_end_time_2"].value;
      var value_light_start_timer_3 = document.forms["light_timer"]["light_start_time_3"].value;
      var value_light_end_timer_3 = document.forms["light_timer"]["light_end_time_3"].value;
      var value_light_start_timer_4 = document.forms["light_timer"]["light_start_time_4"].value;
      var value_light_end_timer_4 = document.forms["light_timer"]["light_end_time_4"].value;

      if (count_num_light_timer === 1) {
        if (value_light_start_timer_1 == "" || value_light_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }
      else if (count_num_light_timer === 2) {
        if (value_light_start_timer_2 == "" || value_light_end_timer_2 == "") {
          alert(" â³ Timer #2 must be filled out !");
          return false;
        }
        else if (value_light_start_timer_1 == "" || value_light_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }
      else if (count_num_light_timer === 3) {
        if (value_light_start_timer_3 == "" || value_light_end_timer_3 == "") {
          alert(" â³ Timer #3 must be filled out !");
          return false;
        }
        else if (value_light_start_timer_2 == "" || value_light_end_timer_2 == "") {
          alert(" â³ Timer #2 must be filled out !");
          return false;
        }
        else if (value_light_start_timer_1 == "" || value_light_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }
      else if (count_num_light_timer === 4) {
        if (value_light_start_timer_4 == "" || value_light_end_timer_4 == "") {
          alert(" â³ Timer #4 must be filled out !");
          return false;
        }
        else if (value_light_start_timer_3 == "" || value_light_end_timer_3 == "") {
          alert(" â³ Timer #3 must be filled out !");
          return false;
        }
        else if (value_light_start_timer_2 == "" || value_light_end_timer_2 == "") {
          alert(" â³ Timer #2 must be filled out !");
          return false;
        }
        else if (value_light_start_timer_1 == "" || value_light_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }


      var light_timer_popup = document.getElementById("light_timer_popup");
      light_timer_popup.style.display = "none";
      document.getElementById("light_timer_form").submit();
      document.getElementById("div_sw_light_timer_debug").style.zIndex = "1";
      document.getElementById("btn-light-timer").style.zIndex = "1";
      light_timer_popup.style.zIndex = "1";
      count_num_light_timer = 1;
      location.reload(true);
    });

    // --------------------- Timer 1 2 3 4 FOR Light ---------------------
    // ------- Timer #1 --------
    document.getElementById("add_light_timer_1").addEventListener("click", () => {
      var timer_light_no2 = document.getElementById("timer_light_no2");
      timer_light_no2.style.display = "flex";
      count_num_light_timer += 1;
    });
    document.getElementById("remove_light_timer_1").addEventListener("click", () => {
      document.forms["light_timer"]["light_start_time_1"].value = "";
      document.forms["light_timer"]["light_end_time_1"].value = "";
      count_num_light_timer = 1;
    });

    // ------- Timer #2 --------
    document.getElementById("add_light_timer_2").addEventListener("click", () => {
      var timer_light_no3 = document.getElementById("timer_light_no3");
      timer_light_no3.style.display = "flex";
      count_num_light_timer += 1;
    });
    document.getElementById("remove_light_timer_2").addEventListener("click", () => {
      var timer_light_no2 = document.getElementById("timer_light_no2");
      timer_light_no2.style.display = "none";
      document.forms["light_timer"]["light_start_time_2"].value = "";
      document.forms["light_timer"]["light_end_time_2"].value = "";
      count_num_light_timer -= 1;
    });

    // ------- Timer #3 --------
    document.getElementById("add_light_timer_3").addEventListener("click", () => {
      var timer_light_no4 = document.getElementById("timer_light_no4");
      timer_light_no4.style.display = "flex";
      count_num_light_timer += 1;
    });
    document.getElementById("remove_light_timer_3").addEventListener("click", () => {
      var timer_light_no3 = document.getElementById("timer_light_no3");
      timer_light_no3.style.display = "none";
      document.forms["light_timer"]["light_start_time_3"].value = "";
      document.forms["light_timer"]["light_end_time_3"].value = "";
      count_num_light_timer -= 1;
    });

    // ------- Timer #4 --------
    document.getElementById("remove_light_timer_4").addEventListener("click", () => {
      var timer_light_no4 = document.getElementById("timer_light_no4");
      timer_light_no4.style.display = "none";
      document.forms["light_timer"]["light_start_time_4"].value = "";
      document.forms["light_timer"]["light_end_time_4"].value = "";
      count_num_light_timer -= 1;
    });

    // -------------------------- Air Pump Timer Popup --------------------------
    document.getElementById("btn-airpump-timer").addEventListener("click", () => {
      var airpump_timer_popup = document.getElementById("airpump_timer_popup");
      airpump_timer_popup.style.display = "block";
      document.getElementById("timer_airpump_no2").style.display = "none";
      document.getElementById("timer_airpump_no3").style.display = "none";
      document.getElementById("timer_airpump_no4").style.display = "none";
      document.forms["airpump_timer"]["airpump_start_time_1"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_1"].value = "";
      document.forms["airpump_timer"]["airpump_start_time_2"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_2"].value = "";
      document.forms["airpump_timer"]["airpump_start_time_3"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_3"].value = "";
      document.forms["airpump_timer"]["airpump_start_time_4"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_4"].value = "";
      document.getElementById("div_sw_light_timer_debug").style.zIndex = "-1";
      document.getElementById("btn-light-timer").style.zIndex = "-1";
      airpump_timer_popup.style.zIndex = "2";
    });

    // Close button Air Pump Timer
    document.getElementById("close-airpump-timer-popup").addEventListener("click", () => {
      var airpump_timer_popup = document.getElementById("airpump_timer_popup");
      airpump_timer_popup.style.display = "none";
      document.getElementById("div_sw_light_timer_debug").style.zIndex = "1";
      document.getElementById("btn-light-timer").style.zIndex = "1";
      count_num_airpump_timer = 1;
      airpump_timer_popup.style.zIndex = "1";
    });


    // Submit Button Air Pump Timer
    document.getElementById("submit-airpump-timer-popup").addEventListener("click", () => {

      socket.emit("mqtt_airpump_timer", "NULL");
      location.reload(true);

      // Check Timer NULL value 
      var value_airpump_start_timer_1 = document.forms["airpump_timer"]["airpump_start_time_1"].value;
      var value_airpump_end_timer_1 = document.forms["airpump_timer"]["airpump_end_time_1"].value;
      var value_airpump_start_timer_2 = document.forms["airpump_timer"]["airpump_start_time_2"].value;
      var value_airpump_end_timer_2 = document.forms["airpump_timer"]["airpump_end_time_2"].value;
      var value_airpump_start_timer_3 = document.forms["airpump_timer"]["airpump_start_time_3"].value;
      var value_airpump_end_timer_3 = document.forms["airpump_timer"]["airpump_end_time_3"].value;
      var value_airpump_start_timer_4 = document.forms["airpump_timer"]["airpump_start_time_4"].value;
      var value_airpump_end_timer_4 = document.forms["airpump_timer"]["airpump_end_time_4"].value;

      if (count_num_airpump_timer === 1) {
        if (value_airpump_start_timer_1 == "" || value_airpump_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }
      else if (count_num_airpump_timer === 2) {
        if (value_airpump_start_timer_2 == "" || value_airpump_end_timer_2 == "") {
          alert(" â³ Timer #2 must be filled out !");
          return false;
        }
        else if (value_airpump_start_timer_1 == "" || value_airpump_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }
      else if (count_num_airpump_timer === 3) {
        if (value_airpump_start_timer_3 == "" || value_airpump_end_timer_3 == "") {
          alert(" â³ Timer #3 must be filled out !");
          return false;
        }
        else if (value_airpump_start_timer_2 == "" || value_airpump_end_timer_2 == "") {
          alert(" â³ Timer #2 must be filled out !");
          return false;
        }
        else if (value_airpump_start_timer_1 == "" || value_airpump_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }
      else if (count_num_airpump_timer === 4) {
        if (value_airpump_start_timer_4 == "" || value_airpump_end_timer_4 == "") {
          alert(" â³ Timer #4 must be filled out !");
          return false;
        }
        else if (value_airpump_start_timer_3 == "" || value_airpump_end_timer_3 == "") {
          alert(" â³ Timer #3 must be filled out !");
          return false;
        }
        else if (value_airpump_start_timer_2 == "" || value_airpump_end_timer_2 == "") {
          alert(" â³ Timer #2 must be filled out !");
          return false;
        }
        else if (value_airpump_start_timer_1 == "" || value_airpump_end_timer_1 == "") {
          alert(" â³ Timer #1 must be filled out !");
          return false;
        }
      }
      var airpump_timer_popup = document.getElementById("airpump_timer_popup");
      airpump_timer_popup.style.display = "none";
      document.getElementById("airpump_timer_form").submit();
      document.getElementById("div_sw_light_timer_debug").style.zIndex = "1";
      document.getElementById("btn-light-timer").style.zIndex = "1";
      airpump_timer_popup.style.zIndex = "1";
      count_num_airpump_timer = 1;
    });

    // --------------------- Timer 1 2 3 4 FOR AIR PUMP ---------------------
    // ------- Timer #1 --------
    document.getElementById("add_airpump_timer_1").addEventListener("click", () => {
      var timer_airpump_no2 = document.getElementById("timer_airpump_no2");
      timer_airpump_no2.style.display = "flex";
      count_num_airpump_timer += 1;
    });
    document.getElementById("remove_airpump_timer_1").addEventListener("click", () => {
      document.forms["airpump_timer"]["airpump_start_time_1"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_1"].value = "";
      count_num_airpump_timer = 1;
    });

    // ------- Timer #2 --------
    document.getElementById("add_airpump_timer_2").addEventListener("click", () => {
      var timer_airpump_no3 = document.getElementById("timer_airpump_no3");
      timer_airpump_no3.style.display = "flex";
      count_num_airpump_timer += 1;
    });
    document.getElementById("remove_airpump_timer_2").addEventListener("click", () => {
      var timer_airpump_no2 = document.getElementById("timer_airpump_no2");
      timer_airpump_no2.style.display = "none";
      document.forms["airpump_timer"]["airpump_start_time_2"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_2"].value = "";
      count_num_airpump_timer -= 1;
    });

    // ------- Timer #3 --------
    document.getElementById("add_airpump_timer_3").addEventListener("click", () => {
      var timer_airpump_no4 = document.getElementById("timer_airpump_no4");
      timer_airpump_no4.style.display = "flex";
      count_num_airpump_timer += 1;
    });
    document.getElementById("remove_airpump_timer_3").addEventListener("click", () => {
      var timer_airpump_no3 = document.getElementById("timer_airpump_no3");
      timer_airpump_no3.style.display = "none";
      document.forms["airpump_timer"]["airpump_start_time_3"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_3"].value = "";
      count_num_airpump_timer -= 1;
    });

    // ------- Timer #4 --------
    document.getElementById("remove_airpump_timer_4").addEventListener("click", () => {
      var timer_airpump_no4 = document.getElementById("timer_airpump_no4");
      timer_airpump_no4.style.display = "none";
      document.forms["airpump_timer"]["airpump_start_time_4"].value = "";
      document.forms["airpump_timer"]["airpump_end_time_4"].value = "";
      count_num_airpump_timer -= 1;
    });


    // -------------------------- PH Automation Popup --------------------------
    document.getElementById("btn-ph-auto").addEventListener("click", () => {
      var ph_auto_popup_frame = document.getElementById("ph_auto_popup");
      ph_auto_popup_frame.style.display = "block";
      ph_auto_popup_frame.style.zIndex = "2";

      // Close button PH Auto Popup
      document.getElementById("close-ph-auto-popup").addEventListener("click", () => {
        ph_auto_popup_frame.style.display = "none";
        ph_auto_popup_frame.style.zIndex = "1";
      });

      // Submit button PH Auto Popup
      document.getElementById("submit-ph-auto-popup").addEventListener("click", () => {
        ph_auto_popup_frame.style.display = "none";
        ph_auto_popup_frame.style.zIndex = "1";



        // Check valid value PH Automation
        var value_ph_auto_start_decimal = document.forms["ph_auto"]["ph_start_decimal_select"].value;
        var value_ph_auto_start_dot = document.forms["ph_auto"]["ph_start_dot_select"].value;
        var value_ph_auto_end_decimal = document.forms["ph_auto"]["ph_end_decimal_select"].value;
        var value_ph_auto_end_dot = document.forms["ph_auto"]["ph_end_dot_select"].value;
        if (Number(value_ph_auto_end_decimal) + Number(value_ph_auto_end_dot) <= Number(value_ph_auto_start_decimal) + Number(value_ph_auto_start_dot)) {
          alert("ðŸ˜¥ You entered the pH value incorrectly.");
          return false;
        }

        document.getElementById("ph_auto_form").submit();
        location.reload(true);

      });

    });

    // -------------------------- EC Automation Popup --------------------------
    document.getElementById("btn-ec-auto").addEventListener("click", () => {
      var ec_auto_popup_frame = document.getElementById("ec_auto_popup");
      ec_auto_popup_frame.style.display = "block";
      ec_auto_popup_frame.style.zIndex = "2";

      // Close button PH Auto Popup
      document.getElementById("close-ec-auto-popup").addEventListener("click", () => {
        ec_auto_popup_frame.style.display = "none";
        ec_auto_popup_frame.style.zIndex = "1";
      });

      // Submit button PH Auto Popup
      document.getElementById("submit-ec-auto-popup").addEventListener("click", () => {
        ec_auto_popup_frame.style.display = "none";
        ec_auto_popup_frame.style.zIndex = "1";



        // Check valid value PH Automation
        var value_ec_auto_start_decimal = document.forms["ec_auto"]["ec_start_decimal_select"].value;
        var value_ec_auto_start_dot = document.forms["ec_auto"]["ec_start_dot_select"].value;
        var value_ec_auto_end_decimal = document.forms["ec_auto"]["ec_end_decimal_select"].value;
        var value_ec_auto_end_dot = document.forms["ec_auto"]["ec_end_dot_select"].value;
        if (Number(value_ec_auto_end_decimal) + Number(value_ec_auto_end_dot) <= Number(value_ec_auto_start_decimal) + Number(value_ec_auto_start_dot)) {
          alert("ðŸ˜¥ You entered the EC value incorrectly.");
          return false;
        }

        document.getElementById("ec_auto_form").submit();
        location.reload(true);

      });

    });

  </script>
</body>

</html>

<!-- TODO Optimize + - (add & remove Timer) -->