<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HYDROPLANT | Dashboard</title>
  <link href="/image/fern.png" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" />

  <!-- Uicons -->
  <link href="/uicons/css/uicons-regular-rounded.css" rel="stylesheet">

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css" />

  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- APEX Chart -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
  <div class="grid">
    <header class="page-header content">
      <!-- <h3>Header</h3> -->
      <nav class="menu-bar">
        <div class="group">
          <a class="item title" href="/">🌱 HYDROPLANT</a>
        </div>
        <div class="group">
          <a href="/" class="item">Home</a>
          <a href="/control" class="item">Control</a>
          <a href="/chart" class="item">Charts</a>
          <a href="/market" class="item">Market</a>
          <a href="/about" class="item">About</a>
        </div>
      </nav>
    </header>

    <footer class="page-footer content">
      <!-- <h3>Footer</h3> -->
    </footer>

    <div class="page-leftbar content">
      <!-- <h3>Sidebar</h3> -->
    </div>

    <div class="market-main content">
      <h1 class="market_title">Market</h1>
      <div class="menu_frame">


        <div class="card_butterhead card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/006-vegetable.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Butterhead</h2>
          </div>
        </div>

        <div class="card_cabbage card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/007-cabbage.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Cabbage</h2>
          </div>

        </div>
        <div class="card_cauliflower card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/009-cauliflower.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Cauliflower</h2>
          </div>
        </div>
        <div class="card_celery card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/010-celery.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Celery</h2>
          </div>
        </div>
        <div class="card_green_oak card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/015-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Green Oak</h2>
          </div>
        </div>

        <div class="card_green_coral card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/016-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Green Coral</h2>
          </div>
        </div>

        <div class="card_green_cos card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/017-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Green Cos</h2>
          </div>
        </div>

        <div class="card_frillice_ice_berg  card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/018-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Frillice Ice Berg </h2>
          </div>
        </div>

        <div class="card_parsley card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/020-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Parsley</h2>
          </div>
        </div>


        <div class="card_red_oak card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/027-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Red Oak</h2>
          </div>
        </div>


        <div class="card_rocket_arugula card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/031-spinach.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Rocket Arugula</h2>
          </div>
        </div>



      </div>

      <div class="checkout">
        <div class="myproduct_title">
          <h1>Product</h1>
          <div class="btn_close_products">
            <i class="fi-rr-cross-small" style="font-size: 2em; margin-top: 9px;"></i>
          </div>
        </div>

        <div class="frame_product_list">

        

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

        <div class="product_list">
          <div class="mini_img_market_frame">
            <img src="/image/market_img/020-lettuce.png" alt="ss" class="mini_img_market">
          </div>
          <div class="product_detail">
            <h3 style="margin: 0;">Green Oak</h3>
            <div class="prices">
              <h2 style="margin: 0;">60 </h2>
              <h4 style="margin: 0 5px;">THB</h4>
            </div>
          </div>
          <div class="product_count">
            <i class="fi-rr-plus-small btn_add_remove_market_count"></i>
            <h1 style="margin: 0; font-size: 1.5em;">1</h1>
            <i class="fi-rr-minus-small btn_add_remove_market_count"></i>
          </div>
        </div>

      </div>


        <div class="total_product">
          <div class="display_total">
            <h2>Total</h2>
            <div class="thb">
              <h1>999</h1>
              <h3 style="margin: 10%;">THB</h3>
            </div>


          </div>

        </div>

      </div>
    </div>

</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

</script>