<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HYDROPLANT | Dashboard</title>
  <link href="/image/fern.png" rel="icon" type="image/x-icon" />
  <link rel="stylesheet" href="/css/style.css" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" />

  <!-- Uicons -->
  <link href="/uicons/css/uicons-regular-rounded.css" rel="stylesheet">

  <!-- Bulma -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css" />

  <!-- Chart JS -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

  <!-- APEX Chart -->
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
</head>

<body>
  <div class="grid">
    <header class="page-header content">
      <!-- <h3>Header</h3> -->
      <nav class="menu-bar">
        <div class="group">
          <a class="item title" href="/">🌱 HYDROPLANT</a>
        </div>
        <div class="group">
          <a href="/" class="item">Home</a>
          <a href="/control" class="item">Control</a>
          <a href="/chart" class="item">Charts</a>
          <a href="/market" class="item">Market</a>
          <a href="/about" class="item">About</a>
        </div>
      </nav>
    </header>

    <footer class="page-footer content">
      <!-- <h3>Footer</h3> -->
    </footer>

    <div class="page-leftbar content">
      <!-- <h3>Sidebar</h3> -->
    </div>

    <div class="market-main content">
      <h1 class="market_title">Market</h1>
      <div class="menu_frame">


        <div id="card_butterhead" class="card_butterhead card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/006-vegetable.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Butterhead</h2>
          </div>
        </div>

        <div id="card_cabbage" class="card_cabbage card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/007-cabbage.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Cabbage</h2>
          </div>

        </div>

        <div id="card_cauliflower" class="card_cauliflower card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/009-cauliflower.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Cauliflower</h2>
          </div>
        </div>

        <div id="card_celery" class="card_celery card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/010-celery.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Celery</h2>
          </div>
        </div>

        <div id="card_green_oak" class="card_green_oak card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/015-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Green Oak</h2>
          </div>
        </div>

        <div id="card_green_coral" class="card_green_coral card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/016-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Green Coral</h2>
          </div>
        </div>

        <div id="card_green_cos" class="card_green_cos card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/017-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Green Cos</h2>
          </div>
        </div>

        <div id="card_frillice_ice_berg" class="card_frillice_ice_berg  card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/018-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Frillice Ice Berg </h2>
          </div>
        </div>

        <div id="card_parsley" class="card_parsley card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/020-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Parsley</h2>
          </div>
        </div>

        <div id="card_red_oak" class="card_red_oak card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/027-lettuce.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Red Oak</h2>
          </div>
        </div>

        <div id="card_rocket_arugula" class="card_rocket_arugula card_bg_color card_market">
          <div class="img_salad">
            <img src="/image/market_img/031-spinach.png" alt="test" class="resize_img_market">
          </div>
          <div class="name_salad">
            <h2>Rocket Arugula</h2>
          </div>
        </div>



      </div>

      <div class="checkout">
        <div class="myproduct_title">
          <h1>Product</h1>
          <div id="btn_close_lists" class="btn_close_products">
            <i class="fi-rr-cross-small" style="font-size: 2em; margin-top: 9px;"></i>
          </div>
        </div>

        <div class="frame_products_list_and_total">

          <div class="frame_product_list">

            <div id="empty_products" class="empty_product_list">
              <img src="/image/market_img/036-vegetables.png" alt="" class="img_empty_product_list">
              <h1 style="color: gray;">Empty</h1>
            </div>

            <div id="list_butterhead" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/006-vegetable.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Butterhead</h3>
                <div class="prices">
                  <h2 id="cost_butterhead" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_butterhead" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_butterhead" style="margin: 0; font-size: 1.5em;"></h1>
                <i id="plus_butterhead" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_cabbage" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/007-cabbage.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Cabbage</h3>
                <div class="prices">
                  <h2 id="cost_cabbage" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_cabbage" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_cabbage" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_cabbage" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_cauliflower" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/009-cauliflower.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Cauliflower</h3>
                <div class="prices">
                  <h2 id="cost_cauliflower" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_cauliflower" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_cauliflower" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_cauliflower" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_celery" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/010-celery.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Celery</h3>
                <div class="prices">
                  <h2 id="cost_celery" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_celery" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_celery" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_celery" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_green_oak" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/015-lettuce.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Green Oak</h3>
                <div class="prices">
                  <h2 id="cost_green_oak" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_green_oak" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_green_oak" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_green_oak" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_green_coral" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/016-lettuce.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Green Coral</h3>
                <div class="prices">
                  <h2 id="cost_green_coral" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_green_coral" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_green_coral" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_green_coral" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_green_cos" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/017-lettuce.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Green Cos</h3>
                <div class="prices">
                  <h2 id="cost_green_cos" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_green_cos" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_green_cos" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_green_cos" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_frillice_ice_berg" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/018-lettuce.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Frillice Ice Berg</h3>
                <div class="prices">
                  <h2 id="cost_frillice_ice_berg" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_frillice_ice_berg" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_frillice_ice_berg" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_frillice_ice_berg" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_parsley" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/020-lettuce.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Parsley</h3>
                <div class="prices">
                  <h2 id="cost_parsley" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_parsley" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_parsley" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_parsley" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_red_oak" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/027-lettuce.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Red Oak</h3>
                <div class="prices">
                  <h2 id="cost_red_oak" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_red_oak" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_red_oak" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_red_oak" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>

            <div id="list_rocket_arugula" class="product_list">
              <div class="mini_img_market_frame">
                <img src="/image/market_img/031-spinach.png" alt="test" class="resize_img_market">
              </div>
              <div class="product_detail">
                <h3 style="margin: 0;">Rocket Arugula</h3>
                <div class="prices">
                  <h2 id="cost_rocket_arugula" style="margin: 0;">60 </h2>
                  <h4 style="margin: 0 5px;">THB</h4>
                </div>
              </div>
              <div class="product_count">
                <i id="minus_rocket_arugula" class="fi-rr-minus-small btn_add_remove_market_count"></i>
                <h1 id="counter_rocket_arugula" style="margin: 0; font-size: 1.5em;">1</h1>
                <i id="plus_rocket_arugula" class="fi-rr-plus-small btn_add_remove_market_count"></i>
              </div>
            </div>




          </div>
          <div class="total_product">
            <div class="display_total">
              <h2>Total</h2>
              <div class="thb">
                <h1 id="total_cost_value">0</h1>
                <h3 style="margin: 10%;">THB</h3>
              </div>


            </div>

          </div>
        </div>

      </div>

</body>

</html>

<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();

  // Empty products
  var empty_products = document.getElementById("empty_products");

  // Card Variables
  var card = {
    butterhead: document.getElementById("card_butterhead"),
    cabbage: document.getElementById("card_cabbage"),
    cauliflower: document.getElementById("card_cauliflower"),
    celery: document.getElementById("card_celery"),
    green_oak: document.getElementById("card_green_oak"),
    green_coral: document.getElementById("card_green_coral"),
    green_cos: document.getElementById("card_green_cos"),
    frillice_ice_berg: document.getElementById("card_frillice_ice_berg"),
    parsley: document.getElementById("card_parsley"),
    red_oak: document.getElementById("card_red_oak"),
    rocket_arugula: document.getElementById("card_rocket_arugula")
  }

  // List Variables
  var list = {
    butterhead: document.getElementById("list_butterhead"),
    cabbage: document.getElementById("list_cabbage"),
    cauliflower: document.getElementById("list_cauliflower"),
    celery: document.getElementById("list_celery"),
    green_oak: document.getElementById("list_green_oak"),
    green_coral: document.getElementById("list_green_coral"),
    green_cos: document.getElementById("list_green_cos"),
    frillice_ice_berg: document.getElementById("list_frillice_ice_berg"),
    parsley: document.getElementById("list_parsley"),
    red_oak: document.getElementById("list_red_oak"),
    rocket_arugula: document.getElementById("list_rocket_arugula")
  }
  // Minus + Plus Vaeiables
  var minus = {
    butterhead: document.getElementById("minus_butterhead"),
    cabbage: document.getElementById("minus_cabbage"),
    cauliflower: document.getElementById("minus_cauliflower"),
    celery: document.getElementById("minus_celery"),
    green_oak: document.getElementById("minus_green_oak"),
    green_coral: document.getElementById("minus_green_coral"),
    green_cos: document.getElementById("minus_green_cos"),
    frillice_ice_berg: document.getElementById("minus_frillice_ice_berg"),
    parsley: document.getElementById("minus_parsley"),
    red_oak: document.getElementById("minus_red_oak"),
    rocket_arugula: document.getElementById("minus_rocket_arugula")
  }
  var plus = {
    butterhead: document.getElementById("plus_butterhead"),
    cabbage: document.getElementById("plus_cabbage"),
    cauliflower: document.getElementById("plus_cauliflower"),
    celery: document.getElementById("plus_celery"),
    green_oak: document.getElementById("plus_green_oak"),
    green_coral: document.getElementById("plus_green_coral"),
    green_cos: document.getElementById("plus_green_cos"),
    frillice_ice_berg: document.getElementById("plus_frillice_ice_berg"),
    parsley: document.getElementById("plus_parsley"),
    red_oak: document.getElementById("plus_red_oak"),
    rocket_arugula: document.getElementById("plus_rocket_arugula")
  }

  // Counter list Variables
  var counter = {
    butterhead: document.getElementById("counter_butterhead"),
    cabbage: document.getElementById("counter_cabbage"),
    cauliflower: document.getElementById("counter_cauliflower"),
    celery: document.getElementById("counter_celery"),
    green_oak: document.getElementById("counter_green_oak"),
    green_coral: document.getElementById("counter_green_coral"),
    green_cos: document.getElementById("counter_green_cos"),
    frillice_ice_berg: document.getElementById("counter_frillice_ice_berg"),
    parsley: document.getElementById("counter_parsley"),
    red_oak: document.getElementById("counter_red_oak"),
    rocket_arugula: document.getElementById("counter_rocket_arugula")
  }
  var counter_value = {
    butterhead: 0,
    cabbage: 0,
    cauliflower: 0,
    celery: 0,
    green_oak: 0,
    green_coral: 0,
    green_cos: 0,
    frillice_ice_berg: 0,
    parsley: 0,
    red_oak: 0,
    rocket_arugula: 0
  }

  // Cost list Variable
  var cost = {
    butterhead: document.getElementById("cost_butterhead"),
    cabbage: document.getElementById("cost_cabbage"),
    cauliflower: document.getElementById("cost_cauliflower"),
    celery: document.getElementById("cost_celery"),
    green_oak: document.getElementById("cost_green_oak"),
    green_coral: document.getElementById("cost_green_coral"),
    green_cos: document.getElementById("cost_green_cos"),
    frillice_ice_berg: document.getElementById("cost_frillice_ice_berg"),
    parsley: document.getElementById("cost_parsley"),
    red_oak: document.getElementById("cost_red_oak"),
    rocket_arugula: document.getElementById("cost_rocket_arugula")
  }
  var total_cost_value = 0
  var cost_value = {
    butterhead: 0,
    cabbage: 0,
    cauliflower: 0,
    celery: 0,
    green_oak: 0,
    green_coral: 0,
    green_cos: 0,
    frillice_ice_berg: 0,
    parsley: 0,
    red_oak: 0,
    rocket_arugula: 0
  }
  var prices_value = {
    butterhead: 60,
    cabbage: 45,
    cauliflower: 32,
    celery: 60,
    green_oak: 80,
    green_coral: 60,
    green_cos: 60,
    frillice_ice_berg: 60,
    parsley: 70,
    red_oak: 80,
    rocket_arugula: 60
  }
  var total_cost_value_display = document.getElementById("total_cost_value");
  // Click card Event
  card.butterhead.addEventListener("click",()=>{
    counter_value.butterhead++;
    cost_value.butterhead = (prices_value.butterhead * counter_value.butterhead);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.butterhead,counter_value.butterhead,counter.butterhead);
    cost.butterhead.innerHTML = prices_value.butterhead;
  });

  card.cabbage.addEventListener("click",()=>{
    counter_value.cabbage++;
    cost_value.cabbage = (prices_value.cabbage * counter_value.cabbage);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.cabbage,counter_value.cabbage,counter.cabbage);
    cost.cabbage.innerHTML = prices_value.cabbage;
  });

  card.cauliflower.addEventListener("click",()=>{
    counter_value.cauliflower++;
    cost_value.cauliflower = (prices_value.cauliflower * counter_value.cauliflower);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.cauliflower,counter_value.cauliflower,counter.cauliflower);
    cost.cauliflower.innerHTML = prices_value.cauliflower;
  });

  card.celery.addEventListener("click",()=>{
    counter_value.celery++;
    cost_value.celery = (prices_value.celery * counter_value.celery);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.celery,counter_value.celery,counter.celery);
    cost.celery.innerHTML = prices_value.celery;
  });

  card.green_oak.addEventListener("click",()=>{
    counter_value.green_oak++;
    cost_value.green_oak = (prices_value.green_oak * counter_value.green_oak);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.green_oak,counter_value.green_oak,counter.green_oak);
    cost.green_oak.innerHTML = prices_value.green_oak;
  });

  card.green_coral.addEventListener("click",()=>{
    counter_value.green_coral++;
    cost_value.green_coral = (prices_value.green_coral * counter_value.green_coral);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.green_coral,counter_value.green_coral,counter.green_coral);
    cost.green_coral.innerHTML = prices_value.green_coral;
  });

  card.green_cos.addEventListener("click",()=>{
    counter_value.green_cos++;
    cost_value.green_cos = (prices_value.green_cos * counter_value.green_cos);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.green_cos,counter_value.green_cos,counter.green_cos);
    cost.green_cos.innerHTML = prices_value.green_coral;
  });

  card.frillice_ice_berg.addEventListener("click",()=>{
    counter_value.frillice_ice_berg++;
    cost_value.frillice_ice_berg = (prices_value.frillice_ice_berg * counter_value.frillice_ice_berg);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.frillice_ice_berg,counter_value.frillice_ice_berg,counter.frillice_ice_berg);
    cost.frillice_ice_berg.innerHTML = prices_value.frillice_ice_berg;
  });

  card.parsley.addEventListener("click",()=>{
    counter_value.parsley++;
    cost_value.parsley = (prices_value.parsley * counter_value.parsley);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.parsley,counter_value.parsley,counter.parsley);
    cost.parsley.innerHTML = prices_value.parsley;
  });

  card.red_oak.addEventListener("click",()=>{
    counter_value.red_oak++;
    cost_value.red_oak = (prices_value.red_oak * counter_value.red_oak);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.red_oak,counter_value.red_oak,counter.red_oak);
    cost.red_oak.innerHTML = prices_value.red_oak;
  });

  card.rocket_arugula.addEventListener("click",()=>{
    counter_value.rocket_arugula++;
    cost_value.rocket_arugula = (prices_value.rocket_arugula * counter_value.rocket_arugula);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
    click_card(list.rocket_arugula,counter_value.rocket_arugula,counter.rocket_arugula);
    cost.rocket_arugula.innerHTML = prices_value.rocket_arugula;
  });

function click_card(list_n,counter_value_n,counter_n, prices_value_n,cost_value_n){
    empty_products.style.display = "none";
    list_n.style.display = "flex";
    counter_n.innerHTML = counter_value_n;
  }
  // Reset All
  document.getElementById("btn_close_lists").addEventListener("click",()=>{
    total_cost_value = 0;
    total_cost_value_display.innerHTML = total_cost_value;
    empty_products.style.display = "flex";
    list.butterhead.style.display = "none";
    list.cabbage.style.display = "none";
    list.cauliflower.style.display = "none";
    list.celery.style.display = "none";
    list.green_oak.style.display = "none";
    list.green_coral.style.display = "none";
    list.green_cos.style.display = "none";
    list.frillice_ice_berg.style.display = "none";
    list.parsley.style.display = "none";
    list.red_oak.style.display = "none";
    list.rocket_arugula.style.display = "none";
    counter_value = {
    butterhead: 0,
    cabbage: 0,
    cauliflower: 0,
    celery: 0,
    green_oak: 0,
    green_coral: 0,
    green_cos: 0,
    frillice_ice_berg: 0,
    parsley: 0,
    red_oak: 0,
    rocket_arugula: 0
  }
    cost_value = {
    butterhead: 0,
    cabbage: 0,
    cauliflower: 0,
    celery: 0,
    green_oak: 0,
    green_coral: 0,
    green_cos: 0,
    frillice_ice_berg: 0,
    parsley: 0,
    red_oak: 0,
    rocket_arugula: 0
  }
  });

// Plus BTN Event
plus.butterhead.addEventListener("click",()=>{
  counter_value.butterhead++;
  cost_value.butterhead = (prices_value.butterhead * counter_value.butterhead);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.butterhead,counter.butterhead);
});

plus.cabbage.addEventListener("click",()=>{
  counter_value.cabbage++;
  cost_value.cabbage = (prices_value.cabbage * counter_value.cabbage);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.cabbage,counter.cabbage);
});

plus.cauliflower.addEventListener("click",()=>{
  counter_value.cauliflower++;
  cost_value.cauliflower = (prices_value.cauliflower * counter_value.cauliflower);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.cauliflower,counter.cauliflower);
});

plus.celery.addEventListener("click",()=>{
  counter_value.celery++;
  cost_value.celery = (prices_value.celery * counter_value.celery);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.celery,counter.celery);
});

plus.green_oak.addEventListener("click",()=>{
  counter_value.green_oak++;
  cost_value.green_oak = (prices_value.green_oak * counter_value.green_oak);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.green_oak,counter.green_oak);
});

plus.green_coral.addEventListener("click",()=>{
  counter_value.green_coral++;
  cost_value.green_coral = (prices_value.green_coral * counter_value.green_coral);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.green_coral,counter.green_coral);
});

plus.green_cos.addEventListener("click",()=>{
  counter_value.green_cos++;
  cost_value.green_cos = (prices_value.green_cos * counter_value.green_cos);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.green_cos,counter.green_cos);
});

plus.frillice_ice_berg.addEventListener("click",()=>{
  counter_value.frillice_ice_berg++;
  cost_value.frillice_ice_berg = (prices_value.frillice_ice_berg * counter_value.frillice_ice_berg);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.frillice_ice_berg,counter.frillice_ice_berg);
});

plus.parsley.addEventListener("click",()=>{
  counter_value.parsley++;
  cost_value.parsley = (prices_value.parsley * counter_value.parsley);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.parsley,counter.parsley);
});

plus.red_oak.addEventListener("click",()=>{
  counter_value.red_oak++;
  cost_value.red_oak = (prices_value.red_oak * counter_value.red_oak);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.red_oak,counter.red_oak);
});

plus.rocket_arugula.addEventListener("click",()=>{
  counter_value.rocket_arugula++;
  cost_value.rocket_arugula = (prices_value.rocket_arugula * counter_value.rocket_arugula);
    total_cost_value = sum_obj_num(cost_value);
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  plus_btn_list(counter_value.rocket_arugula,counter.rocket_arugula);
});

function plus_btn_list(counter_value_n, counter_n) {
  counter_n.innerHTML = counter_value_n;
}

// Minus BTN Event
minus.butterhead.addEventListener("click",()=>{
  counter_value.butterhead--;
    total_cost_value -= prices_value.butterhead;
    total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.butterhead, counter.butterhead, list.butterhead);
});

minus.cabbage.addEventListener("click",()=>{
  counter_value.cabbage--;
  total_cost_value -= prices_value.cabbage;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.cabbage, counter.cabbage, list.cabbage);
});

minus.cauliflower.addEventListener("click",()=>{
  counter_value.cauliflower--;
  total_cost_value -= prices_value.cauliflower;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.cauliflower, counter.cauliflower, list.cauliflower);
});

minus.celery.addEventListener("click",()=>{
  counter_value.celery--;
  total_cost_value -= prices_value.celery;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.celery, counter.celery, list.celery);
});

minus.green_oak.addEventListener("click",()=>{
  counter_value.green_oak--;
  total_cost_value -= prices_value.green_oak;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.green_oak, counter.green_oak, list.green_oak);
});

minus.green_coral.addEventListener("click",()=>{
  counter_value.green_coral--;
  total_cost_value -= prices_value.green_coral;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.green_coral, counter.green_coral, list.green_coral);
});

minus.green_cos.addEventListener("click",()=>{
  counter_value.green_cos--;
  total_cost_value -= prices_value.green_cos;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.green_cos, counter.green_cos, list.green_cos);
});

minus.frillice_ice_berg.addEventListener("click",()=>{
  counter_value.frillice_ice_berg--;
  total_cost_value -= prices_value.frillice_ice_berg;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.frillice_ice_berg, counter.frillice_ice_berg, list.frillice_ice_berg);
});

minus.parsley.addEventListener("click",()=>{
  counter_value.parsley--;
  total_cost_value -= prices_value.parsley;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.parsley, counter.parsley, list.parsley);
});

minus.red_oak.addEventListener("click",()=>{
  counter_value.red_oak--;
  total_cost_value -= prices_value.red_oak;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.red_oak, counter.red_oak, list.red_oak);
});

minus.rocket_arugula.addEventListener("click",()=>{
  counter_value.rocket_arugula--;
  total_cost_value -= prices_value.rocket_arugula;
  total_cost_value_display.innerHTML = numberWithCommas(total_cost_value);
  minus_btn_list(counter_value.rocket_arugula, counter.rocket_arugula, list.rocket_arugula);
});

function minus_btn_list(counter_value_n, counter_n, list_n) {
  if(counter_value_n < 1) {
    list_n.style.display = "none";
    if(sum_obj_num(counter_value) <= 0) {
      empty_products.style.display = "flex";
    }
  }
  else{
    counter_n.innerHTML = counter_value_n;
  }
}

function sum_obj_num( obj ) {
  var sum = 0;
  for( var el in obj ) {
    if( obj.hasOwnProperty( el ) ) {
      sum += parseFloat( obj[el] );
    }
  }
  return sum;
}

function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}


</script>