:root {
  --txt_light: #97b1ca;
  --txt-main: #1a264a;
  --bg-light:#f5f7fd;
  --bg-white:#fff;
  --blue: #4e9af1;
  --red: #ef476f;
  --green: #5cb334;
}
html {
	-webkit-font-smoothing: antialiased;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--bg-light);
}



/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px #284b63; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3; 
}

.grid {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 150px auto;
  grid-template-rows: 60px minmax(590px, auto) 200px;
  grid-template-areas:
    "header header"
    "leftbar main "
    "footer footer";
}

.page-header {
  width: 100%;
  height: 100%;
  grid-area: header;
  margin: 0;
  -webkit-box-shadow: 0 8px 6px -6px var(--txt-main);
  -moz-box-shadow: 0 8px 6px -6px var(--txt-main);
  box-shadow: 0 8px 6px -6px var(--txt_light);
}

/* Menu-Bar */
.menu-bar {
  /* border-radius: 20px; */
  /* background-color: white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.item {
  color: var(--txt-main);
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
  font-size: 18px;
  display: inline-block;
  box-sizing: border-box;
  padding: 14px 20px;
}

a.item.title {
  font-weight: bolder;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
/* ----------------------- */

/* .page-leftbar {
  text-align: center;
  grid-area: leftbar;
  background: #fff;
  border-radius: 20px;
  margin-right: 10px;

} */

.page-main {
  grid-area: main;
  margin-right: 10% !important;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  grid-template-rows: minmax(auto, 0.4fr) 1fr 1fr 0.4fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
    "title      title     title       title       title"
    "graph      graph     card_temp   card_hum    card_ec "
    "graph      graph     card_ph     card_water  card_light"
    "topic1     topic1    topic1      topic1      topic1"
    "process     process  process_txt  process_txt  process_txt"
    "process     process  process_txt  process_txt  process_txt"
}

/* ---------------- Control Page ----------------  */
.control-main {
  grid-area: main;
  margin-right: 10% !important;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: .2fr .1fr .2fr 1fr .2fr 1fr .2fr 1fr;
  gap: 10px;
  grid-template-areas:
  "light_title    light_title     light_title"
  "light_manual            light_timer             light_timer"
  "air_pump_title  air_pump_title   air_pump_title"
  "air_pump_manual           air_pump_timer       air_pump_timer"
  "ph_title  ph_title   ph_title"
  "ph_auto  ph_up   ph_down"
  "ec_title  ec_title   ec_title"
  "ec_auto  ec_up   ec_down"

}

.light_title {
  grid-area: light_title;
}

.air_pump_title {
  grid-area: air_pump_title;
}

.ph_title {
  grid-area: ph_title;
}

.ec_title {
  grid-area: ec_title;
}

.sw_light {
  grid-area: light_manual;
}

.sw_nutrient {
  grid-area: ec_up;
}

.sw_water {
  grid-area: ec_down;
}

.sw_ph_up {
  grid-area: ph_up;
}

.sw_ph_down {
  grid-area: ph_down;
}

.sw_air_pump {
  grid-area: air_pump_manual;
}

.air_pump_timer {
  grid-area: air_pump_timer ;
}

.light_timer {
  grid-area: light_timer;
}

.ph_auto {
  grid-area: ph_auto;
}

.ec_auto {
  grid-area: ec_auto;
}



.ctrl_img {
  width: 30%;
  height: 30%;
  margin-top: 20px;
  fill: red;
  filter: grayscale(100%);
}

.ctrl-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1fr;
  height: 1fr;
  border-radius: 20px;
  background: #fff;
  padding-bottom: 20px;
}

.ctrl-card .field h4 {
  color: var(--txt_light);
}

.ctrl-card .ctrl-name {
  color: var(--txt_light);
}

a.button6{
  display: inline-block;
  padding: 0.7em 1.4em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.15em;
  box-sizing: border-box;
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  text-transform:uppercase;

  font-weight:bolder;
  color:#FFFFFF;
  background-color: var(--blue);
  box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
  text-align:center;
  position:relative;
  }
  a.button6:active{
  top:0.1em;
  }

  a.button6_disable{
    opacity: 0.9;
    filter: grayscale(0.8);
    cursor: not-allowed;
    display: none;
    padding: 0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
  
    font-weight:bolder;
    color:#FFFFFF;
    background-color: var(--blue);
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    }

    .txt_main_color {
      color: var(--txt-main);
    }

    .txt_light_color {
      color: var(--txt_light);
    }

    form#light_timer_form {
      max-width: 400px;
      min-width: 300px;
      padding: 10px 50px;
      border: 2px solid gray;
      border-radius: 2em;
      background-color: var(--bg-light);
      font-family: "Nunito", sans-serif;
    }

    form#airpump_timer_form {
      max-width: 600px;
      min-width: 300px;
      padding: 10px 50px;
      border: 2px solid gray;
      border-radius: 2em;
      background-color: var(--bg-light);
      font-family: "Nunito", sans-serif;
    }

    form#ph_auto_form {
      max-width: 600px;
      min-width: 300px;
      padding: 10px 50px;
      border: 2px solid gray;
      border-radius: 2em;
      background-color: var(--bg-light);
      font-family: "Nunito", sans-serif;
    }

    form#ec_auto_form {
      max-width: 600px;
      min-width: 300px;
      padding: 10px 50px;
      border: 2px solid gray;
      border-radius: 2em;
      background-color: var(--bg-light);
      font-family: "Nunito", sans-serif;
    }

    /* Control Popup */
    #light_timer_popup, #airpump_timer_popup, #ph_auto_popup, #ec_auto_popup {
      width: 100%;
      height: 100%;
      opacity: 0.98;
      top: 0;
      left: 0;
      display: none;
      align-items: center;
      position: fixed;
      background-color: #313131;
      overflow: auto;
    }

    #main_light_timer_popup, #main_airpump_timer_popup, #main_ph_auto_popup, #main_ec_auto_popup {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    #btn-light-timer, #btn-airpump-timer {
      margin-top: 1em;
    }


    .title_form_light, .title_form_ph_auto, .title_form_ec_auto {
      color: var(--txt-main);
      font-weight: bolder;
      text-shadow: -1px 3px 6px rgba(122, 122, 122, 0.29);
      text-align: center;
    }

    .timer_number {
      color: var(--txt_light);
      margin: 0;
    }
  
     .timer_light, .timer_airpump {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .timer_light_space, .timer_airpump_space {
      margin: 0.3em 0.6em;
    }
  
    .btn_form_smaller {
      transform: scale(0.8);
    }

    .btn_add_smaller {
      padding: 0.3em 0.5em !important;
      opacity: 0.9;
    }

    .btn_remove_smaller {
      padding: 0.3em 0.575em !important;
      opacity: 0.9;
    }

    .btn_form_submit_close{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 1em;
    }

    #timer_no2,#timer_no3,#timer_no4 {
      display: none;
    }

    .display_timer {
      display: flex;
      flex-direction: row;
      width: 100%;
      
      justify-content: center;
    }

    .display_light_timer_data, .display_ph_auto_data, .display_ec_auto_data{
      margin: 0;
      font-size: 1.85em;
    }

    .display_ph_auto{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 0.7em 0;
      width: 100%;
    }

    .display_ec_auto {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0.7em 0;
      width: 100%;
      margin-bottom: 0;
    }

    .select_menu {
      display: flex;
      flex-direction: row;
     /* background-color: rosybrown; */
      justify-content: center;
      align-items: center;
    }

    .input_box {
    color: var(--txt-main);
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 3em;
    font-weight: bold;
    font-family: "Nunito", sans-serif;
    text-align: center;
    }

    

/* ---------------- Charts Page ----------------  */
.chart-main {
  grid-area: main;
  margin-right: 10% !important;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 1fr 1fr 1fr 1fr;
  gap: .4em 2em;
  grid-template-areas:
  "main_title       main_title"
  "input_form       input_form"
  "all_graph        all_graph"
  "temp_graph       ph_graph"
  "ec_graph         hum_graph"
  "watertemp_graph  light_graph"
}

.chart_main_title {
  grid-area: main_title;
  margin: 0;
  
}

.chart_input{
  grid-area: input_form;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
}

#temp_graph{
  grid-area: temp_graph;
}

#hum_graph {
  grid-area: hum_graph;
}

#ph_graph {
  grid-area: ph_graph;
}

#ec_graph {
  grid-area: ec_graph;
}

#water_temp_graph {
  grid-area: watertemp_graph;
}

#light_graph {
  grid-area: light_graph;
}

#sensors_graph {
  grid-area: all_graph;
  margin: 0 10em 3em 10em;
}

.chart_input{
  margin-bottom: 2em;
  display: flex;
  flex-direction: row;
  justify-content: left;

}
.select_query_d_w_m {
  display: flex;
  flex-direction: row;
}

#title_select_query_d_w_m {
  color: var(--txt-main);
  margin: .5em 0 0 0;
  font-size: 1.2em;
  font-weight: bolder;
}

.select_query_week, .select_query_months {
  display: none;
} 

.label_select_form {
  color: var(--txt-main);
  font-weight: bolder;
  font-size: 1.2em;
}

#main_charts_title {
  color: var(--txt-main) !important;
}


/* ---------------- Market Page ----------------  */
.market-main {
  grid-area: main;
  margin-right: 10%;
  display: grid;
  grid-template-columns: 3.5fr 2fr;
  grid-template-rows: .1fr 1fr;
  column-gap: 2.5%;
  grid-template-areas:
  "market_title market_title"
  "main checkout"
}

.market_title {
  grid-area: market_title;
  color: var(--txt-main);
}


.menu_frame {
  grid-area: main;
  /* background-color: white; */
  border-radius: 20px;
  display: grid;
  row-gap: 4%;
  column-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "card1 card2 card3 card4"
  "card5 card6 card7 card8"
  "card9 card10 card11 card12"
}

.card_market {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card_butterhead {
  grid-area: card1;
}
.card_cabbage {
  grid-area: card2;
}
.card_cauliflower {
  grid-area: card3;
}
.card_celery {
  grid-area: card4;
}
.card_green_oak {
  grid-area: card5;
}
.card_green_coral {
  grid-area: card6;
}
.card_green_cos {
  grid-area: card7;
}
.card_frillice_ice_berg {
  grid-area: card8;
}
.card_parsley {
  grid-area: card9;
}
.card_red_oak {
  grid-area: card10;
}
.card_rocket_arugula {
  grid-area: card11;
}

.card_bg_color {
  background-color: var(--bg-white);
  border-radius: 20px;
  /* height: 80%; */
  
}


.checkout {
  grid-area: checkout;
  background-color: white;
  border-radius: 20px;
  min-height: 40vh;
}

.img_salad {
  padding: 10%;
  /* background-color:var(--bg-white); */
  border-radius: 20px;
  margin: 15%;
  filter: drop-shadow(10px 10px 4px #ced4da);
  transition: transform .2s;
  
}

.img_salad:hover {
  /* filter: drop-shadow(20px 20px 8px #ced4da); */
  cursor: pointer;
  transform: scale(1.2);
}

.img_salad:active {
  transform: translateY(4px);
}

.name_salad {
  color: var(--txt_light);
  font-size: .8em;
  margin-top: -20%;
}

.resize_img_market {
  width: 100%;
  height: 100%;
}

.myproduct_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--txt-main);
  font-weight: bolder;
  margin: 0 10%;
}

.btn_close_products {
  color: #ef476f;
  background-color: #ffeaeb;
  border-radius: 37%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  transition: transform .2s;
}

.btn_close_products:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.btn_close_products:active {
  transform: scale(0.7);
  cursor: pointer;
}

.frame_product_list {
  min-height:0 ;
  max-height: 450px;
  overflow-y: auto;
}

.product_list {
  background-color:var(--bg-white);
  filter: drop-shadow(10px 10px 10px var(--bg-light));
  border-radius: 20px;
  margin: 4%;
  height: 100px;
  transition: transform .2s;
  display: none;
  justify-content: flex-start;
  align-items: center;
  color: var(--txt_light);
  padding: 0 5%;

}

.product_list:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.total_product {
  background-color: var(--bg-white);
  filter: drop-shadow(10px 10px 20px var(--bg-light));
  border-radius: 20px;
  margin: 8%;
  transition: transform .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt-main);

}

.total_product:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.display_total {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  color: var(--txt_light)
  /* background-color: darkblue */
}

.thb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mini_img_market {
  width: 4vw;
  height: 8vh;
  margin-top: -10%;
}

.mini_img_market_frame {
  /* background-color: #4e9af1; */
  width: 3.5vw;
  height: 7vh;
  display: flex;
  justify-content: space-between;
  filter: drop-shadow(3px 3px 4px #ced4da);
  margin-right: 5%;
}

.product_detail {
  width: 10vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  align-items: center;

}

.prices {
  display: flex;
  justify-content: row;
  align-items: center;
  width: auto;
}

.product_count {
  display: flex;
  flex-direction: row;
  justify-content:  center;
  align-items: center;
  margin-left: 15%;
  /* background-color: #4e9af1; */
  width: 7.4vw;
  height: 7vh;
  color: #1a264a;
}

.btn_add_remove_market_count {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #477ace;
  border-radius: 50%;
  background-color: #eaf2ff;
  height: 25px;
  width: 25px;
  transition: transform .2s;
  margin: 0 10%;
  font-size: 1.7em;
}

.btn_add_remove_market_count:hover {
  transform: scale(1.25);
  cursor: pointer;
}

.btn_add_remove_market_count:active {
  transform: scale(0.95);
  cursor: pointer;
}

.frame_products_list_and_total {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 80vh;
  /* background-color: yellow; */
}

.empty_product_list {
  /* background-color: var(--txt-main); */
  margin: 7%;
  border-radius: 20px;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
  filter: grayscale(0.8);
}

.img_empty_product_list {
  width: 50%;
  height: 50%;
  margin-top: 50px;
}






/* ---------------- Main Page ----------------  */
#chart {
  padding: 10px;
}

#ct {
  color: var(--txt_light) !important;
  font-size: 1.2rem;
}

.env-card.temp {
  grid-area: card_temp;
}

.env-card.hum {
  grid-area: card_hum;
}

.env-card.light {
  grid-area: card_light;
}

.env-card.ec {
  grid-area: card_ec;
}

.env-card.ph {
  grid-area: card_ph;
}

.env-card.water {
  grid-area: card_water;
}

.env-card.graph {
  grid-area: graph;
}

.env-card.process {
  grid-area: process;
}



.topic1 {
  grid-area: topic1;
  color: var(--txt-main);
}

.env-card.process-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--txt_light);
  grid-area: process_txt;
}



.env-title {
  color: var(--txt-main);
  grid-area: title;
}

.env-card {
  /* grid-area: card1; */
  text-align: center;
  width: 1fr;
  height: 1fr;
  border-radius: 20px;
  background: #fff;

  /* box-shadow: 2px 2px 8px 4px rgba(0,0,0,0.1); */
}

.env-card .field h4 {
  color: var(--txt_light);
}

.env-card .env-name {
  color: var(--txt_light);
}

.env-card .env-value {
  color: var(--txt-main);
  align-items: center;
}

a.button-start, a.button-harvest, a.button-cancel{
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.1em 0.1em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5rem;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  text-align: center;
  transition: all 0.2s;
}
a.button-start:hover {
  border-color: lightskyblue;
  cursor: pointer;
}

a.button-cancel:hover {
  border-color: lightskyblue;
  cursor: pointer;
}

a.button-harvest:hover {
  border-color: lightskyblue;
  cursor: pointer;
}


#btn-harvest, #btn-cancel, #start-date-data{
  display: none;
}

@media all and (max-width: 30em) {
   a.button-start {
    display: block;
    margin: 0.2em auto;
  }
}

/* .content {
  background-color: #f5f7fd;
  border: 1px solid black;
  box-sizing: border-box;
  
} */


/* POP-UP */
#popup-card {
  width: 100%;
  height: 100%;
  opacity: 0.98;
  top: 0;
  left: 0;
  display: none;
  position: fixed;
  background-color: #313131;
  overflow: auto;
}

div#popup-data {
  position: absolute;
  left: 50%;
  top: 17%;
  margin-left: -202px;
}

#popup-data form {
  max-width: 300px;
  min-width: 250px;
  padding: 10px 50px;
  border: 2px solid gray;
  border-radius: 10px;
  background-color: var(--bg-light);
  font-family: "Nunito", sans-serif;
}
.main-card-plant {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  grid-template-areas:
  "plant1   plant2  plant3"
  "plant4   plant5  plant6"
  "plant7   plant8  plant9"
}

.plant-card {
  /* grid-area: card1; */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 1fr;
  height: 1fr;
  border-radius: 20px;
  background: var(--bg-white);
}

.plant-card.selected-card {
  box-shadow: 3px 2px 16px 0px rgba(0, 0, 0, 0.1);
  border: 0.05px solid var(--txt_light);
}

.plant-input{
  color: var(--txt_light);
  margin-top: 30px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
  width: 190px;
  margin-bottom: 5px;
}


.plant-item,.plant-item-none {
  width: 70%;
  height: 70%;
}

.plant-item:hover {
  cursor:pointer;
  filter: drop-shadow(.5px .5px 1.5px gray);
}

.none:hover,.plant-item-none:hover {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.button-popup,.submit,.close {
  margin: 5px;
  font-weight: bold;
  font-family: "Nunito", sans-serif !important;
  color: var(--txt-main);
}

.button-popup .submit,.close:hover {
  cursor: pointer;
}

.plant-item-main {
  width: 25%;
  height: 25%;
}

#days_remaining {
  color: var(--txt-main);
  font-size: 2rem;
  margin-top: 0px;
  margin-bottom: 10px;
}

.plant-name-main {
  font-size: 1rem;
}





















